In [1]:
# regular imports
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

%matplotlib inline

In [2]:
# display related imports
from IPython.display import display, Image, clear_output, HTML, IFrame

# Widgets
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

# to save dataframe as an image
import dataframe_image as dfi

# hide warnings
import warnings
warnings.filterwarnings('ignore')

# Forest
from sklearn.tree import DecisionTreeClassifier

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)

In [12]:
rej = pd.read_pickle('data/rejected_sm.pkl')

In [5]:
rej.shape

(276487, 9)

In [ ]:
accepted_rem_na['issue_d'] = pd.to_datetime(accepted_rem_na['issue_d'])
accepted_rem_na['issue_year'] = pd.DatetimeIndex(accepted_rem_na['issue_d']).year
accepted_rem_na['issue_month'] = pd.DatetimeIndex(accepted_rem_na['issue_d']).month

In [15]:
def change_col_space_lower(df):
    '''Function to setup the column names
    Inputs: dataframe
    Outputs: dataframe with changed column names
     - All lower Case
     - no spaces, change to _
     - no dashes, change to _
     - will add a dict input that will change key words into other word
     (i.e. employment to emp)
    '''
    df.columns = df.columns.str.replace((' '), '_').str.lower()
    return df

In [16]:
rej =  change_col_space_lower(rej)

In [18]:
rej['app_d'] = pd.to_datetime(rej['application_date'])
rej['app_yr'] = pd.DatetimeIndex(rej['app_d']).year
rej['app_m'] = pd.DatetimeIndex(rej['app_d']).month

In [19]:
rej.columns

Index(['amount_requested', 'application_date', 'loan_title', 'risk_score',
       'debt_to_income_ratio', 'zip_code', 'state', 'employment_length',
       'policy_code', 'app_d', 'app_yr', 'app_m'],
      dtype='object')

In [ ]:
rej.info

In [30]:
rej.groupby('app_yr').agg({'risk_score':['min', 'max', 'count', 'mean']})

       risk_score
              min    max  count        mean
app_yr
2007        382.0  758.0     52  576.673077
2008          0.0  791.0    243  563.888889
2009          0.0  823.0    490  583.195918
2010          0.0  812.0   1108  574.251805
2011          0.0  808.0   2152  585.832249
2012          0.0  833.0   3327  605.570484
2013          0.0  971.0   7326  609.879607
2014        300.0  990.0  16741  633.161818
2015        300.0  925.0   5053  637.530774
2016        324.0  943.0  10026  633.991921
2017        300.0  990.0  38508  633.984081
2018        302.0  922.0   6518  627.282449

In [38]:
rej[(rej.risk_score > 800) & (rej.risk_score < 802)]

,amount_requested,application_date,loan_title,risk_score,debt_to_income_ratio,zip_code,state,employment_length,policy_code,app_d,app_yr,app_m
8786662,5000.0,2014-08-02,debt_consolidation,801.0,0.57%,946xx,CA,< 1 year,0.0,2014-08-02,2014,8
650764,15000.0,2012-10-05,home improvement,801.0,12.51%,770xx,TX,10+ years,0.0,2012-10-05,2012,10
8600727,10000.0,2014-07-09,credit_card,801.0,26.08%,620xx,IL,< 1 year,0.0,2014-07-09,2014,7
13074323,15000.0,2017-09-09,Debt consolidation,801.0,47.36%,704xx,LA,< 1 year,0.0,2017-09-09,2017,9
20189476,14000.0,2017-10-23,Debt consolidation,801.0,22.12%,460xx,IN,< 1 year,0.0,2017-10-23,2017,10
20800835,15075.0,2017-11-17,Car financing,801.0,100%,108xx,NY,< 1 year,0.0,2017-11-17,2017,11
20484860,4000.0,2017-11-05,Other,801.0,0.67%,952xx,CA,< 1 year,0.0,2017-11-05,2017,11
20266596,10000.0,2017-10-25,Other,801.0,25.66%,024xx,MA,< 1 year,0.0,2017-10-25,2017,10
21073717,5000.0,2017-11-30,Home improvement,801.0,43.64%,685xx,NE,< 1 year,0.0,2017-11-30,2017,11
27370433,16000.0,2016-12-12,Credit card refinancing,801.0,46.81%,330xx,FL,< 1 year,0.0,2016-12-12,2016,12
12349344,7500.0,2017-08-05,Debt consolidation,801.0,28.97%,174xx,PA,< 1 year,0.0,2017-08-05,2017,8
13297118,20000.0,2017-09-19,Debt consolidation,801.0,47.84%,142xx,NY,< 1 year,0.0,2017-09-19,2017,9
24728165,10000.0,2017-04-10,Moving and relocation,801.0,0.25%,900xx,CA,< 1 year,0.0,2017-04-10,2017,4
3072585,24000.0,2017-01-04,Credit card refinancing,801.0,81.01%,321xx,FL,< 1 year,0.0,2017-01-04,2017,1
4282541,30000.0,2017-03-24,Debt consolidation,801.0,44.36%,235xx,VA,< 1 year,0.0,2017-03-24,2017,3
4173981,20000.0,2017-03-16,Other,801.0,13.09%,950xx,CA,< 1 year,0.0,2017-03-16,2017,3
14034767,25000.0,2016-02-12,debt_consolidation,801.0,53.05%,704xx,LA,< 1 year,0.0,2016-02-12,2016,2
3664954,18500.0,2017-02-10,Credit card refinancing,801.0,28.68%,144xx,NY,< 1 year,0.0,2017-02-10,2017,2
3051217,40000.0,2017-01-03,Business,801.0,5.77%,701xx,LA,10+ years,0.0,2017-01-03,2017,1
13526087,7000.0,2017-09-28,Car financing,801.0,2.74%,928xx,CA,< 1 year,0.0,2017-09-28,2017,9
15603325,30000.0,2018-11-01,Debt consolidation,801.0,40.76%,633xx,MO,NaN,0.0,2018-11-01,2018,11
9209216,5000.0,2014-10-06,car,801.0,7.15%,461xx,IN,< 1 year,0.0,2014-10-06,2014,10
3160793,10825.0,2017-01-09,Car financing,801.0,0%,207xx,MD,< 1 year,0.0,2017-01-09,2017,1
21078053,35000.0,2017-11-30,Credit card refinancing,801.0,19.31%,331xx,FL,< 1 year,0.0,2017-11-30,2017,11
371910,4000.0,2011-10-26,wedding loan,801.0,1.64%,483xx,MI,5 years,0.0,2011-10-26,2011,10

In [ ]:
# I have no clue! What is the risk score? I notice most of these have little employment length but there is a  couple 10+ in there