# Import Statements

In [35]:
# regular imports
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

%matplotlib inline

In [36]:
# display related imports
from IPython.display import display, Image
from IPython.display import HTML
from IPython.display import IFrame

# Widgets
import ipywidgets as widgets
from ipywidgets import interact, interact_manual
#!jupyter nbextension enable --py widgetsnbextension

# to save dataframe as an image
import dataframe_image as dfi

# hide warnings
import warnings
warnings.filterwarnings('ignore')

# Functions for display and data

In [37]:
# interact allows makes the function interactive without a needed call to it
#@interact
def w_(n_columns=(5, 30, 5), n_rows=(10,60, 10)):
    ''' sliders to select max rows and columns, not really needed here, but usefull in other notebooks'''
    if n_columns>25:
        pd.set_option('display.max_columns', None)
        c = 'ALL'
    else:
        pd.set_option('display.max_columns', n_columns)
        c = str(n_columns)
    if n_rows > 50:
        pd.set_option('display.max_rows', None)
        r = 'ALL'
    else:
        pd.set_option('display.max_rows', n_rows)
        r = str(n_rows)
    print('Number of columns to display ->', c)
    print('Number of rows to display ->', r)
    
    
def quick_(quick=(False, True)):
    return quick

In [38]:
# EDA Functions

In [39]:
def view_describe(df, ret_percent):
    ''' does a describe on data and returns a smaller dataframe to look at based on percent'''
    print('SHAPE')
    print(df.shape)
    print('*' * 100)
    print('HEAD')
    print(df.head(10))
    print('*' * 100)
    print('DESCRIBE')
    print(df.describe().round())
    if ret_percent < 1:
        return df.sample(frac = ret_percent, random_state = 22)
    return df

In [40]:
# Change Col Names

In [41]:
def change_col_space_lower(df):
    '''Function to setup the column names
    Inputs: dataframe
    Outputs: dataframe with changed column names
     - All lower Case
     - no spaces, change to _
     - no dashes, change to _
     - will add a dict input that will change key words into other word
     (i.e. employment to emp)
    '''
    df.columns = df.columns.str.replace((' ' and '-'), '_').str.lower()

In [42]:
# Look at Missing Data

In [43]:
def missing_data_df(df_):
    ''' function to transpose the data use the column names to describe the data set
    input: dataframe
    output: transposed dataframe with info on missing count,
        missing percent,
        count of data,
        unigue values
    '''
    df = pd.DataFrame(df_.head(1).T).reset_index()
    df['na_count']   = [df_[col_].isnull().sum() for col_ in df['index']]
    df['na_percent'] = [df_[col_].isnull().sum()/df_.shape[0] for col_ in df['index']]
    df['count']      = [df_[col_].count() for col_ in df['index']]
    df['unique_count'] = [len(df_[col_].unique()) for col_ in df['index']]
    df['dtype_'] = [df_[col_].dtypes for col_ in df['index']]
    df['unique_data'] = ['None' if df_[col_].dtypes != np.object else ','.join(map(str, df_[col_].unique())) for col_ in df['index']]
    df['Drop_'] = 0

    df.drop(0, axis=1, inplace=True)
    df.columns = df.columns.str.replace('index', 'col_name')
    return df

In [44]:
def fico(ret_):
    
    if ret_ < 580:
        return 1
    if ret_ < 670:
        return 2
    if ret_ <740:
        return 3
    if ret_ < 800:
        return 4
    if ret_ < 851:
        return 5
    else:
        return 0
# based on scores from https://corporatefinanceinstitute.com/resources/knowledge/credit/credit-score-analysis/

# Lending Club Info
Lending Club: https://drive.google.com/file/d/10XHxLtu0Jcuf4hXxB8F3oPdlUlMKYV9g/view?usp=sharing

https://www.kaggle.com/wordsforthewise/lending-club

https://www.lendingclub.com

# Display Setup

In [45]:
print('Select True for fast setup and use pickle saved data, and False to go through all data setup")')
QUICK = interact(quick_)
print('sliders to change number of rows and columns')
interact(w_)
print('be careful, full dataset can go slow when set to max')

Number of columns to display -> 15
Number of rows to display -> 30
be careful, full dataset can go slow when set to max

In [46]:
# load data, set that you want pick one, both sets will slow down computer - also skip and load smaller pickle
# set if that is all you need
QUICK = False
if QUICK:
    LOAD = 'Accept_pickle' # 'None' 'Rejected' 'Both' 'Accept_pickle' 'Accepted'
else:
    LOAD = 'Accepted'
if LOAD == 'Accepted':
    accepted = pd.read_csv('data/lending_data/accepted_2007_to_2018Q4.csv')
    print('You Loaded the accepted file, this is the full file!')
elif LOAD == 'Rejected':
    rejected = pd.read_csv('data/lending_data/rejected_2007_to_2018Q4.csv')
    print('You loaded the Rejected File, this is the full file')
elif LOAD == 'Both':
    accepted = pd.read_csv('data/lending_data/accepted_2007_to_2018Q4.csv')
    rejected = pd.read_csv('data/lending_data/rejected_2007_to_2018Q4.csv')
elif LOAD == 'Accept_pickle':
    accepted = pd.read_pickle('data/accepted_rem_na.pkl')
    print('Loaded the pickle file - all changes below are reflected in this file')
else:
    print('Nothing Has Been Loaded!')

You Loaded the accepted file, this is the full file!

In [47]:
if not QUICK:
    
# makes a small version of the data set and shows describe on full set of data
# %%script false <- make false if you just want to load pickle version
    accepted_sm = view_describe(accepted, .01)
    rejected_sm = view_describe(rejected, .01)

SHAPE
(2260701, 151)
****************************************************************************************************
HEAD
         id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0  68407277        NaN     3600.0       3600.0           3600.0   36 months
1  68355089        NaN    24700.0      24700.0          24700.0   36 months
2  68341763        NaN    20000.0      20000.0          20000.0   60 months
3  66310712        NaN    35000.0      35000.0          35000.0   60 months
4  68476807        NaN    10400.0      10400.0          10400.0   60 months
5  68426831        NaN    11950.0      11950.0          11950.0   36 months
6  68476668        NaN    20000.0      20000.0          20000.0   36 months
7  67275481        NaN    20000.0      20000.0          20000.0   36 months
8  68466926        NaN    10000.0      10000.0          10000.0   36 months
9  68616873        NaN     8000.0       8000.0           8000.0   36 months

   int_rate  ...  debt_settlement_flag debt_settlement_flag_date  \
0     13.99  ...                     N                       NaN
1     11.99  ...                     N                       NaN
2     10.78  ...                     N                       NaN
3     14.85  ...                     N                       NaN
4     22.45  ...                     N                       NaN
5     13.44  ...                     N                       NaN
6      9.17  ...                     N                       NaN
7      8.49  ...                     N                       NaN
8      6.49  ...                     N                       NaN
9     11.48  ...                     N                       NaN

  settlement_status settlement_date settlement_amount settlement_percentage  \
0               NaN             NaN               NaN                   NaN
1               NaN             NaN               NaN                   NaN
2               NaN             NaN               NaN                   NaN
3               NaN             NaN               NaN                   NaN
4               NaN             NaN               NaN                   NaN
5               NaN             NaN               NaN                   NaN
6               NaN             NaN               NaN                   NaN
7               NaN             NaN               NaN                   NaN
8               NaN             NaN               NaN                   NaN
9               NaN             NaN               NaN                   NaN

   settlement_term
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
5              NaN
6              NaN
7              NaN
8              NaN
9              NaN

[10 rows x 151 columns]
****************************************************************************************************
DESCRIBE
       member_id  loan_amnt  funded_amnt  funded_amnt_inv   int_rate  \
count        0.0  2260668.0    2260668.0        2260668.0  2260668.0
mean         NaN    15047.0      15042.0          15023.0       13.0
std          NaN     9190.0       9188.0           9192.0        5.0
min          NaN      500.0        500.0              0.0        5.0
25%          NaN     8000.0       8000.0           8000.0        9.0
50%          NaN    12900.0      12875.0          12800.0       13.0
75%          NaN    20000.0      20000.0          20000.0       16.0
max          NaN    40000.0      40000.0          40000.0       31.0

       installment   annual_inc  ...  hardship_dpd  \
count    2260668.0    2260664.0  ...       10917.0
mean         446.0      77992.0  ...          14.0
std          267.0     112696.0  ...          10.0
min            5.0          0.0  ...           0.0
25%          252.0      46000.0  ...           5.0
50%          378.0      65000.0  ...          15.0
75%          593.0      93000.0  ...          22.0
max         1720.0  110000000.0  ...          37.0

       orig_projected_additional_accrued_interest  \
count                                      8651.0
mean                                        455.0
std                                         375.0
min                                           2.0
25%                                         175.0
50%                                         353.0
75%                                         620.0
max                                        2681.0

       hardship_payoff_balance_amount  hardship_last_payment_amount  \
count                         10917.0                       10917.0
mean                          11637.0                         194.0
std                            7626.0                         199.0
min                              56.0                           0.0
25%                            5627.0                          44.0
50%                           10028.0                         133.0
75%                           16152.0                         284.0
max                           40306.0                        1408.0

       settlement_amount  settlement_percentage  settlement_term
count            34246.0                34246.0          34246.0
mean              5011.0                   48.0             13.0
std               3693.0                    7.0              8.0
min                 44.0                    0.0              0.0
25%               2208.0                   45.0              6.0
50%               4146.0                   45.0             14.0
75%               6850.0                   50.0             18.0
max              33601.0                  521.0            181.0

[8 rows x 113 columns]

NameError: name 'rejected' is not defined

# To Pickle

In [ ]:
if not QUICK: 
    col_accep = missing_data_df(accepted)
    col_accep.to_pickle('data/col_info_accept.pkl')
    col_rejected = missing_data_df(rejected)
    col_rejected.to_pickle('data/col_info_rejected.pkl')
    accepted_sm.to_pickle('data/accepted_sm.pkl')
    rejected_sm.to_pickle('data/rejected_sm.pkl')

# Load Pickle

In [ ]:
# used to load pickle of smaller data, not used at this time...

# col_accepted = pd.read_pickle('data/col_info_accept.pkl')
# col_rejected = pd.read_pickle('data/col_info_rejected.pkl')
# accepted_sm = pd.read_pickle('data/accepted_sm.pkl')

In [ ]:
# ******* setting up an xlxs for looking at data columns *****
# this has all been done, just leaving code here in case it needs to be done again
#!pip install openpyxl - need to install to write excel file
#!pip install xlrd - need to install to read excel file
#sending to csv so I can update column info in excel
#accepted = pd.read_csv('data/lending_data/accepted_2007_to_2018Q4.csv')
#col_accep = missing_data_df(accepted)
#col_accep.to_excel('data/column_accep_info.xlsx')

In [ ]:
# col_accep_excel = pd.read_excel('data/column_accep_info.xls')

In [ ]:
# col_accep_excel

# Notes

In [ ]:
# predict expected return from start?
# recreate their risk score?
# can I create a warning system when a loan is become in danger, create
# a system to mediate before it hits the danger area?
# figure out the loss amounts and see how to reduce?

breaking all the accepted loans into deals (bonds)
Have different investment classes for the deals (groups of loans)
You have the Very Safe Deal
the Medium Risk deal (some risk some return)
the High Risk High Reward Class
The Junk bond status let's roll the dice!

What discount rate would be required to make these marketable?

Problems:
not sure this data gives the date that problems start? might not be useable that way
but can use the start data and make projections about the data from the start

Can also look at their interest rate to calculate based on their starting rates...

High of 30+ percent, pretty sure that is capped in some states, might need to see which states cap their rates for personal loans... usury laws

In [ ]:
# and all good things come to an end, and so does this!

https://help.lendingclub.com/hc/en-us/articles/360050574891-Important-Updates-to-the-LendingClub-Notes-Platform

They are ending the notes program Dec 28th of this year!
So, it will no longer be available as a program.
Might want to copy their website so that future students have this as a resource.

Below is their loan grades and how they classify them into 12 deals... with their percents as of june 30, 2019...
2,311,305 loans open at that time...

# Project IDEA????

Since they are closing this side of the business, would it make sense to analyze this business to see if it's profitable. Can we create a better algorithm  for predicting payback? If so, what would be our future project if we created this business model again?

In [ ]:
Image('lending_club_deals.png')

In [ ]:
# Split app date to month year
# State 52? is that na and DC?
# Risk score, High Bad?
# Loan Title - parse interesting words out? Can figure from columns at start

# From here down I'm just playing around with the data getting used to it...
# Finding columns to eliminate

# Column info

# credit report info
delinq_2yrs
earliest_cr_line date
fico_range_high
fico_range_high
inq_last_6mnths
mths_since_last_delinq

loan_amnt - float *
funded_amnt - drop
funded_amnt_inv - drop

term - cat (36, 60) *
int_rate - float *
installment (float) *
grade - cat (a-e) *
sub_grade - cat *
emp_title - string keep for now? *
emp_length - cat 0-10 *
home_ownership - cat (rent, own, Mortgage) *
annual_inc float *
verification_status cat (change to bool) *
issue_d date (month year) *

loan_status cat - keep
pymnt_plan - I think this is used for defaults ?
desc - used to describe pymnt_plan ?

purpose cat consol *
title cat consol *
zip_code cat *
abbr_state cat *
dti * debt-to-income same as in rejected

# Reducing NA's

In [48]:
accepted = pd.read_csv('data/lending_data/accepted_2007_to_2018Q4.csv')

In [49]:
accepted.loc[accepted['loan_amnt'].isna()] 
# 33 datapoints with na in loan amount are garbage and will be dropped
# member Id is na and will be dropped

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,...,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
421095,Total amount funded in policy code 1: 6417608175,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421096,Total amount funded in policy code 2: 1944088810,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528961,Total amount funded in policy code 1: 1741781700,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528962,Total amount funded in policy code 2: 564202131,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
651664,Total amount funded in policy code 1: 1791201400,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038502,Total amount funded in policy code 2: 567447023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2157151,Total amount funded in policy code 1: 1817354125,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2157152,Total amount funded in policy code 2: 620899600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2260699,Total amount funded in policy code 1: 1465324575,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2260700,Total amount funded in policy code 2: 521953170,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
missing_data_df(accepted)

,col_name,na_count,na_percent,count,unique_count,dtype_,unique_data,Drop_
0,id,0,0.000000,2260701,2260701,object,"68407277,68355089,68341763,66310712,68476807,6...",0
1,member_id,2260701,1.000000,0,1,float64,None,0
2,loan_amnt,33,0.000015,2260668,1573,float64,None,0
3,funded_amnt,33,0.000015,2260668,1573,float64,None,0
4,funded_amnt_inv,33,0.000015,2260668,10058,float64,None,0
...,...,...,...,...,...,...,...,...
146,settlement_status,2226455,0.984852,34246,4,object,"nan,COMPLETE,BROKEN,ACTIVE",0
147,settlement_date,2226455,0.984852,34246,91,object,"nan,Sep-2017,Nov-2017,Jan-2018,May-2018,Jun-20...",0
148,settlement_amount,2226455,0.984852,34246,21942,float64,None,0
149,settlement_percentage,2226455,0.984852,34246,2071,float64,None,0
150,settlement_term,2226455,0.984852,34246,41,float64,None,0

In [50]:
accepted['funded_amnt'] = accepted['funded_amnt'].fillna(0)

In [51]:
# difference between funded amount and loan amounts
print('funded amount', accepted.funded_amnt.sum())
print('funded amount inv', accepted.funded_amnt_inv.sum())
print('loan amount', accepted.loan_amnt.sum())
print('Loan Amount - Funded Amount', accepted.loan_amnt.sum() - accepted.funded_amnt.sum())

funded amount 34004208600.0
funded amount inv 33963004960.806164
loan amount 34016115925.0
Loan Amount - Funded Amount 11907325.0

In [52]:
# need to rethink the dropping of na's can still drop columns not needed for the data. 
# need to think about what to use when their is a sec signer (does joint dpi take the value?)

In [53]:
# getting rid of the nan and some columns

In [24]:
# get rid of NaN in loan_amnt - 33 rows that are missing numerous columns
accepted_rem_na = accepted[accepted['loan_amnt'].notna()]
# dropping rows with data not usefull for our project
accepted_rem_na.drop(['zip_code', 'member_id', 'id'], axis=1, inplace=True)
accepted.drop(['url', 'emp_title', 'desc', 'title'], axis=1, inplace=True)
# replacing missing dti with max dti - these were created by devide by zero errors
accepted_rem_na['dti'].fillna(accepted.dti.max(), inplace=True)
# Getting rid of Hardship other than flag and settle columns
hardship_col = [col for col in accepted_rem_na if col.startswith('hard')]
accepted_rem_na.drop(hardship_col[1:], axis=1, inplace=True)
settle_col = [col for col in accepted_rem_na if col.startswith('settle')]
accepted_rem_na.drop(settle_col[1:], axis=1, inplace=True)
# changing to date and adding month and year
accepted_rem_na['issue_d'] = pd.to_datetime(accepted_rem_na['issue_d'])
accepted_rem_na['issue_year'] = pd.DatetimeIndex(accepted_rem_na['issue_d']).year
accepted_rem_na['issue_month'] = pd.DatetimeIndex(accepted_rem_na['issue_d']).month
accepted_rem_na['earliest_cr_line'] = pd.to_datetime(accepted_rem_na['earliest_cr_line'])

In [25]:
# Fico score and term
accepted_rem_na['fico'] = [val for val in ((accepted_rem_na['fico_range_low'] + accepted_rem_na['fico_range_high'])/2)]
accepted_rem_na['fico'] = [fico(val) for val in accepted_rem_na['fico']]
accepted_rem_na['term_60'] = [1 if val == ' 60 months' else 0 for val in accepted_rem_na['term']]

In [28]:
# earliest credit

accepted_rem_na['years_since_earliest_credit'] = [dt_ for dt_ in ((accepted_rem_na['issue_d'] - accepted_rem_na['earliest_cr_line'])/np.timedelta64(1,'Y'))]
accepted_rem_na['years_since_earliest_credit'].fillna(0, inplace=True)
accepted_rem_na['years_since_earliest_credit'] = (accepted_rem_na['years_since_earliest_credit']).astype('int64')
# drop columns from above that are no longer needed
accepted_rem_na.drop(['fico_range_low', 'fico_range_high', 'term', 'earliest_cr_line'], axis=1, inplace=True)

In [54]:
# keeping hardship and settlement stuff
# only run for creating alternative dataset!
# get rid of NaN in loan_amnt - 33 rows that are missing numerous columns
accepted_rem_na = accepted[accepted['loan_amnt'].notna()]
# dropping rows with data not usefull for our project
accepted_rem_na.drop(['zip_code', 'member_id', 'id'], axis=1, inplace=True)
accepted.drop(['url', 'emp_title', 'desc', 'title'], axis=1, inplace=True)
# replacing missing dti with max dti - these were created by devide by zero errors
accepted_rem_na['dti'].fillna(accepted.dti.max(), inplace=True)
# Getting rid of Hardship other than flag and settle columns
# hardship_col = [col for col in accepted_rem_na if col.startswith('hard')]
# accepted_rem_na.drop(hardship_col[1:], axis=1, inplace=True)
# settle_col = [col for col in accepted_rem_na if col.startswith('settle')]
# accepted_rem_na.drop(settle_col[1:], axis=1, inplace=True)
# changing to date and adding month and year
accepted_rem_na['issue_d'] = pd.to_datetime(accepted_rem_na['issue_d'])
accepted_rem_na['issue_year'] = pd.DatetimeIndex(accepted_rem_na['issue_d']).year
accepted_rem_na['issue_month'] = pd.DatetimeIndex(accepted_rem_na['issue_d']).month
accepted_rem_na['earliest_cr_line'] = pd.to_datetime(accepted_rem_na['earliest_cr_line'])

accepted_rem_na['fico'] = [val for val in ((accepted_rem_na['fico_range_low'] + accepted_rem_na['fico_range_high'])/2)]
accepted_rem_na['fico'] = [fico(val) for val in accepted_rem_na['fico']]
accepted_rem_na['term_60'] = [1 if val == ' 60 months' else 0 for val in accepted_rem_na['term']]


accepted_rem_na['years_since_earliest_credit'] = [dt_ for dt_ in ((accepted_rem_na['issue_d'] - accepted_rem_na['earliest_cr_line'])/np.timedelta64(1,'Y'))]
accepted_rem_na['years_since_earliest_credit'].fillna(0, inplace=True)
accepted_rem_na['years_since_earliest_credit'] = (accepted_rem_na['years_since_earliest_credit']).astype('int64')
accepted_rem_na.drop(['fico_range_low', 'fico_range_high', 'term', 'earliest_cr_line'], axis=1, inplace=True)

# saving current state to pickle
accepted_rem_na.to_pickle('data/accepted_for_credit.pkl')

In [ ]:
for col in accepted_rem_na.columns:
    if accepted_rem_na[col].dtype == 'object':
        accepted_rem_na[col].fillna('na', inplace=True)
    else:
        accepted_rem_na[col].fillna(0, inplace=True)

In [ ]:
col_accep = missing_data_df(accepted_rem_na)

In [ ]:
# changing columns to cat data
cat_data = []
# clearing data from memory
del accepted
del hardship_col
del settle_col

accepted_rem_na = accepted_rem_na.fillna('na')
for col_ in col_accep['col_name'][1:]:
     #['unique_count']])#if accepted_rem_na[col_][['unique_count']<20]:
     if (len(accepted_rem_na[col_].unique()) < 55):
         print(col_)
         cat_data.append(col_)
         #accepted_rem_na(col_).fillna('na')
         accepted_rem_na[col_] = accepted_rem_na[col_].astype('category')

In [ ]:

cat_data_ = pd.Series(cat_data)
cat_data_.to_pickle('data/cat_data.pkl')

In [ ]:
col_accep = missing_data_df(accepted_rem_na)

In [ ]:
# saving current state to pickle
accepted_rem_na.to_pickle('data/accepted_rem_na.pkl')

col_accep.to_pickle('data/col_accep.pkl')

In [ ]:
# changing columns to cat data
cat_data = []
# clearing data from memory
del accepted
del hardship_col
del settle_col

accepted_rem_na = accepted_rem_na.fillna('na')
for col_ in col_accep['col_name'][1:]:
     #['unique_count']])#if accepted_rem_na[col_][['unique_count']<20]:
     if (len(accepted_rem_na[col_].unique()) < 55):
         print(col_)
         cat_data.append(col_)
         #accepted_rem_na(col_).fillna('na')
         accepted_rem_na[col_] = accepted_rem_na[col_].astype('category')

In [40]:

cat_data_ = pd.Series(cat_data)
cat_data_.to_pickle('data/cat_data.pkl')

In [41]:
col_accep = missing_data_df(accepted_rem_na)

In [42]:
# saving current state to pickle
accepted_rem_na.to_pickle('data/accepted_rem_na.pkl')

col_accep.to_pickle('data/col_accep.pkl')