In [1]:
# regular imports
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

%matplotlib inline

In [2]:
# display related imports
from IPython.display import display, Image, clear_output, HTML, IFrame

# Widgets
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

# to save dataframe as an image
import dataframe_image as dfi

# hide warnings
import warnings
warnings.filterwarnings('ignore')

# Forest
from sklearn.tree import DecisionTreeClassifier

# Time Series
from datetime import datetime, timedelta
from dateutil.parser import parse
from pandas.tseries.offsets import DateOffset

# random numbers
import random

In [3]:
df = pd.read_csv('data/df_for_filter.csv')
df.rename(columns={'Unnamed: 0': 'id'}, inplace=True)
print(df.head())
print(df.shape, 'should be (2096800, 126)')

   id  loan_amnt  funded_amnt  funded_amnt_inv  int_rate  installment grade  \
0   0     3600.0       3600.0           3600.0     13.99       123.03     C
1   1    24700.0      24700.0          24700.0     11.99       820.28     C
2   2    20000.0      20000.0          20000.0     10.78       432.66     B
3   3    35000.0      35000.0          35000.0     14.85       829.90     C
4   4    10400.0      10400.0          10400.0     22.45       289.91     F

  sub_grade emp_length home_ownership  ...  debt_settlement_flag_date  \
0        C4  10+ years       MORTGAGE  ...                        NaN
1        C1  10+ years       MORTGAGE  ...                        NaN
2        B4  10+ years       MORTGAGE  ...                        NaN
3        C5  10+ years       MORTGAGE  ...                        NaN
4        F1    3 years       MORTGAGE  ...                        NaN

  issue_year issue_month fico term_60  last_pay_d  months_of_pay  loss_amnt  \
0       2015          12    3       0  2019-01-01             36        0.0
1       2015          12    3       0  2016-06-01              5        0.0
2       2015          12    3       1  2017-06-01             17        0.0
3       2015          12    4       1  2019-02-01             37        0.0
4       2015          12    3       1  2016-07-01              5        0.0

   good  earliest_credit_10_more
0  True                        1
1  True                        1
2  True                        1
3  True                        0
4  True                        1

[5 rows x 126 columns]
(2096800, 126) should be (2096800, 126)

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

In [5]:
# initual setup - setting up cash account
df_cash = []
df_=[]
def cash_init(start_date='20070601', start_=200):
    data = {'Date': [start_date],
           'from': ['Start'],
            'cash': [start_],
            'invested': [0] 
           }
    df_cash = pd.DataFrame(data, columns = ['Date', 'from', 'cash', 'invested'])
    df_cash['Date'] = pd.to_datetime(df_cash['Date']) 
    return df_cash


def loan_picker(issue_month_, issue_year_):
    df_filtered = df[(df['issue_year']==issue_year_) & 
       (df['grade'].isin(grade_)) & 
       (df['fico']>fico_) & 
       (df['int_rate']>min_int_rate_) & 
       (df['home_ownership']!='RENT') & 
       (df['emp_length']!= emp_length_) &
       (df['annual_inc'] > annual_inc_) &
       (df['earliest_credit_10_more'] == earliest_credit_10_more_) &
       (df['loan_amnt'] < loan_amnt_) &
       (df['term_60']==term_60_) &
       (df['purpose'].isin(purpose_)) &
       (df['total_acc'] < total_acc_) &
       (df['installment'] < installment_) &
       (df['issue_month']==issue_month_) & #.isin(issue_month_)&
       (df['inq_last_6mths']==inq_last_6mths_)
      ].reset_index(drop=True)
    return df_filtered['id']


def loan_calc(inv, df_):
    '''inv = investement amount 
    df_ is the dataframe
    this function calculates monthly payments and amount returned based on a loan and amount invested
    '''
    #rec_back = 0
    I_ = []
    P_ = []
    inv_ = []
    LAST_PAYMENT = round(df_['last_pymnt_amnt'] * (inv/df_['funded_amnt_inv']), 2)
    TERM = 36 if df_['term_60']==0 else 60
    END_MNTH = min([TERM, df_['months_of_pay']+1])
    R = 1 + (df_['int_rate'])/(12*100)              # calc monthly rate
    X = inv * (R**TERM)*(1-R)/(1-R**TERM)           # calc monthly payment
    I_.append(0)
    P_.append(0)
    inv_.append(inv)
    for n_ in range(1,END_MNTH + 1):                 # goes through months, skips first month (first payment is the following month)
        I = round(inv * (R-1), 2)            # interest calculation
        if n_ == END_MNTH:                           # if last month (last month is lessor of term or months Pay field)
            X = LAST_PAYMENT                        # if last payment, get last payment from dataframe
            I = round((df_['out_prncp'] - (inv - X)), 2)
        inv = round(inv - (X-I),2)           # current invested amount is previous invested minus (Payment - interest)    
        #print((X - I, I))
        I_.append(I)
        P_.append(X - I)
        inv_.append(I - X)
    return (P_, I_, inv_, df_)

def add_cash(df_cash, df_inv):
    return df_cash.append(df_inv, ignore_index=True)


def invest(df_cash_=df_cash, loan_='loan_x',df_=df):       
    df_investment = pd.DataFrame(columns=['Date','from', 'P', 'I', 'cash', 'invested'])
    df_investment['P'] = P
    df_investment['I'] = I
    df_investment['invested'] = inv
    df_investment['Date'] = [parse(df_['issue_d']) + DateOffset(months=i) for i in range(0, df_investment['P'].shape[0])]
    df_investment['cash'] = df_investment['P'] + df_investment['I']
    df_investment['from'] = loan_
    df_investment.loc[0,'cash'] = df_investment.loc[0, 'invested']*-1
    print(df_investment)
    return add_cash(df_cash_, df_investment)


def run_loan(id_, fields_, invest_):
    df_ = df.loc[id_, fields_]
    #rec_back = 0
    return loan_calc(invest_, df_)

#gets cash at a date
def get_cash(date_):
    return round(df_cash.loc[df_cash['Date']==date_]['cash'].sum(),2)

In [6]:
fields_ = ['id',
           'loan_amnt',
           'funded_amnt',
           'funded_amnt_inv',
           'int_rate',
           'installment',
           'grade',
           'sub_grade',
           'issue_d',
           'out_prncp',
           'out_prncp_inv',
           'total_pymnt',
           'total_pymnt_inv',
           'total_rec_prncp',
           'total_rec_int',
           'total_rec_late_fee',
           'recoveries',
           'collection_recovery_fee',
           'last_pymnt_d',
           'last_pymnt_amnt',
           'months_of_pay',
           'good',
           'term_60'
          ]
set(fields_) - set(df.columns)

set()

In [7]:
start_date = '20071201'
issue_year_ = 2012
grade_ = ['D', 'E', 'F']
fico_ = 1 # above this
min_int_rate_ = 13.5
emp_length_ = '< 1 year'
annual_inc_ = 70000
earliest_credit_10_more_ = 1
loan_amnt_ = 25001
term_60_ = 0
chargeoff_within_12_mths_ = 0
purpose_ = ['credit_card', 'debt_consolidation']
total_acc_ = 25 # less than this amount
installment_ = 800
#issue_month_ = [7]
inq_last_6mths_ = 0


df_cash = cash_init(start_date, 250)
loans_=[]
random.seed(22)
years = [2008, 2009]#, 2010, 2011, 2012, 2013]
for y in years: # selecting years in list
    for m in range (1,13): # months in year
        loans_ = (loan_picker(m, y)) # gets loan numbers that match criteria
        # print(m, y, len(loans_))
        old_cash = get_cash(str(m)+'/'+str(y)) # gets cash that has been returned
        print('X'*100)
        if len(loans_) > 5: # need to change this $50 per loan333
            loans_ = pd.Series(random.sample(list(loans_), 5))
        print(loans_)
        for loan_ in loans_:
            P, I, inv, df_ = run_loan(loan_, fields_, (df_cash.loc[0, 'cash'] + old_cash)/len(loans_))
            df_cash = invest(df_cash, loan_, df_)
            return_ = df_cash[df_cash['from']==loan_]['cash'] 
            print(f'NPV  :  {np.npv(.13/12, return_) :>6.2f}')
            print(f'IRR  :  {np.irr(return_*-1)* 12:>7.2%}')

1 2008 0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Series([], Name: id, dtype: int64)
2 2008 0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Series([], Name: id, dtype: int64)
3 2008 1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
0    1650866
Name: id, dtype: int64
         Date     from         P      I        cash    invested
0  2008-03-01  1650866  0.000000   0.00 -250.000000  250.000000
1  2008-04-01  1650866  5.692417   2.76    8.452417   -5.692417
2  2008-05-01  1650866  5.752417   2.70    8.452417   -5.752417
3  2008-06-01  1650866  5.822417   2.63    8.452417   -5.822417
4  2008-07-01  1650866  5.882417   2.57    8.452417   -5.882417
5  2008-08-01  1650866  5.952417   2.50    8.452417   -5.952417
6  2008-09-01  1650866  6.012417   2.44    8.452417   -6.012417
7  2008-10-01  1650866  6.082417   2.37    8.452417   -6.082417
8  2008-11-01  1650866  6.152417   2.30    8.452417   -6.152417
9  2008-12-01  1650866  6.212417   2.24    8.452417   -6.212417
10 2009-01-01  1650866  6.282417   2.17    8.452417   -6.282417
11 2009-02-01  1650866  6.352417   2.10    8.452417   -6.352417
12 2009-03-01  1650866  6.422417   2.03    8.452417   -6.422417
13 2009-04-01  1650866  6.492417   1.96    8.452417   -6.492417
14 2009-05-01  1650866  6.562417   1.89    8.452417   -6.562417
15 2009-06-01  1650866  6.642417   1.81    8.452417   -6.642417
16 2009-07-01  1650866  6.712417   1.74    8.452417   -6.712417
17 2009-08-01  1650866  6.782417   1.67    8.452417   -6.782417
18 2009-09-01  1650866  6.862417   1.59    8.452417   -6.862417
19 2009-10-01  1650866  6.932417   1.52    8.452417   -6.932417
20 2009-11-01  1650866  7.012417   1.44    8.452417   -7.012417
21 2009-12-01  1650866  7.092417   1.36    8.452417   -7.092417
22 2010-01-01  1650866  7.172417   1.28    8.452417   -7.172417
23 2010-02-01  1650866  7.252417   1.20    8.452417   -7.252417
24 2010-03-01  1650866  7.332417   1.12    8.452417   -7.332417
25 2010-04-01  1650866  7.412417   1.04    8.452417   -7.412417
26 2010-05-01  1650866  7.492417   0.96    8.452417   -7.492417
27 2010-06-01  1650866  7.572417   0.88    8.452417   -7.572417
28 2010-07-01  1650866  7.652417   0.80    8.452417   -7.652417
29 2010-08-01  1650866  7.742417   0.71    8.452417   -7.742417
30 2010-09-01  1650866  7.822417   0.63    8.452417   -7.822417
31 2010-10-01  1650866  7.912417   0.54    8.452417   -7.912417
32 2010-11-01  1650866  8.002417   0.45    8.452417   -8.002417
33 2010-12-01  1650866  8.092417   0.36    8.452417   -8.092417
34 2011-01-01  1650866  8.182417   0.27    8.452417   -8.182417
35 2011-02-01  1650866  8.272417   0.18    8.452417   -8.272417
36 2011-03-01  1650866  8.460000  14.88   23.340000   -8.460000
NPV  :   10.96
IRR  :   15.91%
4 2008 1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
0    1653631
Name: id, dtype: int64
         Date     from          P     I        cash    invested
0  2008-04-01  1653631   0.000000  0.00 -258.450000  258.450000
1  2008-05-01  1653631   5.888108  2.85    8.738108   -5.888108
2  2008-06-01  1653631   5.948108  2.79    8.738108   -5.948108
3  2008-07-01  1653631   6.018108  2.72    8.738108   -6.018108
4  2008-08-01  1653631   6.088108  2.65    8.738108   -6.088108
5  2008-09-01  1653631   6.148108  2.59    8.738108   -6.148108
6  2008-10-01  1653631   6.218108  2.52    8.738108   -6.218108
7  2008-11-01  1653631   6.288108  2.45    8.738108   -6.288108
8  2008-12-01  1653631   6.358108  2.38    8.738108   -6.358108
9  2009-01-01  1653631   6.428108  2.31    8.738108   -6.428108
10 2009-02-01  1653631   6.498108  2.24    8.738108   -6.498108
11 2009-03-01  1653631   6.568108  2.17    8.738108   -6.568108
12 2009-04-01  1653631   6.638108  2.10    8.738108   -6.638108
13 2009-05-01  1653631   6.718108  2.02    8.738108   -6.718108
14 2009-06-01  1653631   6.788108  1.95    8.738108   -6.788108
15 2009-07-01  1653631   6.868108  1.87    8.738108   -6.868108
16 2009-08-01  1653631   6.938108  1.80    8.738108   -6.938108
17 2009-09-01  1653631   7.018108  1.72    8.738108   -7.018108
18 2009-10-01  1653631   7.098108  1.64    8.738108   -7.098108
19 2009-11-01  1653631   7.168108  1.57    8.738108   -7.168108
20 2009-12-01  1653631   7.248108  1.49    8.738108   -7.248108
21 2010-01-01  1653631   7.328108  1.41    8.738108   -7.328108
22 2010-02-01  1653631   7.408108  1.33    8.738108   -7.408108
23 2010-03-01  1653631   7.498108  1.24    8.738108   -7.498108
24 2010-04-01  1653631   7.578108  1.16    8.738108   -7.578108
25 2010-05-01  1653631   7.658108  1.08    8.738108   -7.658108
26 2010-06-01  1653631   7.748108  0.99    8.738108   -7.748108
27 2010-07-01  1653631   7.828108  0.91    8.738108   -7.828108
28 2010-08-01  1653631   7.918108  0.82    8.738108   -7.918108
29 2010-09-01  1653631   8.008108  0.73    8.738108   -8.008108
30 2010-10-01  1653631   8.088108  0.65    8.738108   -8.088108
31 2010-11-01  1653631   8.178108  0.56    8.738108   -8.178108
32 2010-12-01  1653631   8.268108  0.47    8.738108   -8.268108
33 2011-01-01  1653631   8.368108  0.37    8.738108   -8.368108
34 2011-02-01  1653631   8.458108  0.28    8.738108   -8.458108
35 2011-03-01  1653631  17.120000 -1.53   15.590000  -17.120000
NPV  :   -0.34
IRR  :   12.91%
5 2008 0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Series([], Name: id, dtype: int64)
6 2008 0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Series([], Name: id, dtype: int64)
7 2008 0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Series([], Name: id, dtype: int64)
8 2008 0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Series([], Name: id, dtype: int64)
9 2008 0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Series([], Name: id, dtype: int64)
10 2008 0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Series([], Name: id, dtype: int64)
11 2008 0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Series([], Name: id, dtype: int64)
12 2008 0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Series([], Name: id, dtype: int64)
1 2009 1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
0    1649828
Name: id, dtype: int64
         Date     from           P      I        cash    invested
0  2008-12-01  1649828    0.000000   0.00 -267.190000  267.190000
1  2009-01-01  1649828    6.270393   2.51    8.780393   -6.270393
2  2009-02-01  1649828    6.330393   2.45    8.780393   -6.330393
3  2009-03-01  1649828    6.390393   2.39    8.780393   -6.390393
4  2009-04-01  1649828    6.450393   2.33    8.780393   -6.450393
5  2009-05-01  1649828    6.510393   2.27    8.780393   -6.510393
6  2009-06-01  1649828    6.570393   2.21    8.780393   -6.570393
7  2009-07-01  1649828    6.630393   2.15    8.780393   -6.630393
8  2009-08-01  1649828    6.700393   2.08    8.780393   -6.700393
9  2009-09-01  1649828    6.760393   2.02    8.780393   -6.760393
10 2009-10-01  1649828    6.820393   1.96    8.780393   -6.820393
11 2009-11-01  1649828    6.890393   1.89    8.780393   -6.890393
12 2009-12-01  1649828    6.950393   1.83    8.780393   -6.950393
13 2010-01-01  1649828    7.020393   1.76    8.780393   -7.020393
14 2010-02-01  1649828    7.080393   1.70    8.780393   -7.080393
15 2010-03-01  1649828    7.150393   1.63    8.780393   -7.150393
16 2010-04-01  1649828    7.220393   1.56    8.780393   -7.220393
17 2010-05-01  1649828    7.280393   1.50    8.780393   -7.280393
18 2010-06-01  1649828    7.350393   1.43    8.780393   -7.350393
19 2010-07-01  1649828    7.420393   1.36    8.780393   -7.420393
20 2010-08-01  1649828    7.490393   1.29    8.780393   -7.490393
21 2010-09-01  1649828  129.910000 -90.84   39.070000 -129.910000
NPV  :  -78.91
IRR  :  -20.37%

2 2009 2
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
0    1649404
1    1649481
Name: id, dtype: int64
        Date     from           P      I        cash    invested
0 2009-02-01  1649404    0.000000   0.00 -137.985000  137.985000
1 2009-03-01  1649404    3.423608   0.88    4.303608   -3.423608
2 2009-04-01  1649404    3.443608   0.86    4.303608   -3.443608
3 2009-05-01  1649404    3.463608   0.84    4.303608   -3.463608
4 2009-06-01  1649404    3.483608   0.82    4.303608   -3.483608
5 2009-07-01  1649404    3.513608   0.79    4.303608   -3.513608
6 2009-08-01  1649404  120.670000  24.88  145.550000 -120.670000
NPV  :   19.29
IRR  :   41.76%
         Date     from         P     I        cash    invested
0  2009-02-01  1649481  0.000000  0.00 -137.985000  137.985000
1  2009-03-01  1649481  3.103376  1.62    4.723376   -3.103376
2  2009-04-01  1649481  3.133376  1.59    4.723376   -3.133376
3  2009-05-01  1649481  3.173376  1.55    4.723376   -3.173376
4  2009-06-01  1649481  3.213376  1.51    4.723376   -3.213376
5  2009-07-01  1649481  3.253376  1.47    4.723376   -3.253376
6  2009-08-01  1649481  3.283376  1.44    4.723376   -3.283376
7  2009-09-01  1649481  3.323376  1.40    4.723376   -3.323376
8  2009-10-01  1649481  3.363376  1.36    4.723376   -3.363376
9  2009-11-01  1649481  3.403376  1.32    4.723376   -3.403376
10 2009-12-01  1649481  3.443376  1.28    4.723376   -3.443376
11 2010-01-01  1649481  3.483376  1.24    4.723376   -3.483376
12 2010-02-01  1649481  3.523376  1.20    4.723376   -3.523376
13 2010-03-01  1649481  3.563376  1.16    4.723376   -3.563376
14 2010-04-01  1649481  3.613376  1.11    4.723376   -3.613376
15 2010-05-01  1649481  3.653376  1.07    4.723376   -3.653376
16 2010-06-01  1649481  3.693376  1.03    4.723376   -3.693376
17 2010-07-01  1649481  3.733376  0.99    4.723376   -3.733376
18 2010-08-01  1649481  3.783376  0.94    4.723376   -3.783376
19 2010-09-01  1649481  3.823376  0.90    4.723376   -3.823376
20 2010-10-01  1649481  3.873376  0.85    4.723376   -3.873376
21 2010-11-01  1649481  3.913376  0.81    4.723376   -3.913376
22 2010-12-01  1649481  3.963376  0.76    4.723376   -3.963376
23 2011-01-01  1649481  4.013376  0.71    4.723376   -4.013376
24 2011-02-01  1649481  4.053376  0.67    4.723376   -4.053376
25 2011-03-01  1649481  4.103376  0.62    4.723376   -4.103376
26 2011-04-01  1649481  4.153376  0.57    4.723376   -4.153376
27 2011-05-01  1649481  4.203376  0.52    4.723376   -4.203376
28 2011-06-01  1649481  4.253376  0.47    4.723376   -4.253376
29 2011-07-01  1649481  4.303376  0.42    4.723376   -4.303376
30 2011-08-01  1649481  4.353376  0.37    4.723376   -4.353376
31 2011-09-01  1649481  4.403376  0.32    4.723376   -4.403376
32 2011-10-01  1649481  4.453376  0.27    4.723376   -4.453376
33 2011-11-01  1649481  4.503376  0.22    4.723376   -4.503376
34 2011-12-01  1649481  4.563376  0.16    4.723376   -4.563376
35 2012-01-01  1649481  9.420000 -1.09    8.330000   -9.420000
NPV  :    1.47
IRR  :   13.75%
3 2009 1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
0    1649074
Name: id, dtype: int64
        Date     from           P      I        cash    invested
0 2009-03-01  1649074    0.000000   0.00 -285.000000  285.000000
1 2009-04-01  1649074    6.594689   2.90    9.494689   -6.594689
2 2009-05-01  1649074    6.664689   2.83    9.494689   -6.664689
3 2009-06-01  1649074    6.724689   2.77    9.494689   -6.724689
4 2009-07-01  1649074  265.030000  10.08  275.110000 -265.030000
NPV  :    6.38
IRR  :   20.08%
4 2009 0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Series([], Name: id, dtype: int64)
5 2009 0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Series([], Name: id, dtype: int64)
6 2009 0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Series([], Name: id, dtype: int64)
7 2009 1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
0    1647762
Name: id, dtype: int64
         Date     from         P     I       cash   invested
0  2009-08-01  1647762   0.00000  0.00 -560.11000  560.11000
1  2009-09-01  1647762  12.58317  6.59   19.17317  -12.58317
2  2009-10-01  1647762  12.73317  6.44   19.17317  -12.73317
3  2009-11-01  1647762  12.88317  6.29   19.17317  -12.88317
4  2009-12-01  1647762  13.03317  6.14   19.17317  -13.03317
5  2010-01-01  1647762  13.19317  5.98   19.17317  -13.19317
6  2010-02-01  1647762  13.34317  5.83   19.17317  -13.34317
7  2010-03-01  1647762  13.50317  5.67   19.17317  -13.50317
8  2010-04-01  1647762  13.66317  5.51   19.17317  -13.66317
9  2010-05-01  1647762  13.82317  5.35   19.17317  -13.82317
10 2010-06-01  1647762  13.98317  5.19   19.17317  -13.98317
11 2010-07-01  1647762  14.14317  5.03   19.17317  -14.14317
12 2010-08-01  1647762  14.31317  4.86   19.17317  -14.31317
13 2010-09-01  1647762  14.48317  4.69   19.17317  -14.48317
14 2010-10-01  1647762  14.65317  4.52   19.17317  -14.65317
15 2010-11-01  1647762  14.82317  4.35   19.17317  -14.82317
16 2010-12-01  1647762  15.00317  4.17   19.17317  -15.00317
17 2011-01-01  1647762  15.17317  4.00   19.17317  -15.17317
18 2011-02-01  1647762  15.35317  3.82   19.17317  -15.35317
19 2011-03-01  1647762  15.53317  3.64   19.17317  -15.53317
20 2011-04-01  1647762  15.71317  3.46   19.17317  -15.71317
21 2011-05-01  1647762  15.90317  3.27   19.17317  -15.90317
22 2011-06-01  1647762  16.09317  3.08   19.17317  -16.09317
23 2011-07-01  1647762  16.27317  2.90   19.17317  -16.27317
24 2011-08-01  1647762  16.47317  2.70   19.17317  -16.47317
25 2011-09-01  1647762  16.66317  2.51   19.17317  -16.66317
26 2011-10-01  1647762  16.86317  2.31   19.17317  -16.86317
27 2011-11-01  1647762  17.05317  2.12   19.17317  -17.05317
28 2011-12-01  1647762  17.25317  1.92   19.17317  -17.25317
29 2012-01-01  1647762  17.46317  1.71   19.17317  -17.46317
30 2012-02-01  1647762  17.66317  1.51   19.17317  -17.66317
31 2012-03-01  1647762  17.87317  1.30   19.17317  -17.87317
32 2012-04-01  1647762  18.08317  1.09   19.17317  -18.08317
33 2012-05-01  1647762  18.29317  0.88   19.17317  -18.29317
34 2012-06-01  1647762  18.51317  0.66   19.17317  -18.51317
35 2012-07-01  1647762  18.73317  0.44   19.17317  -18.73317
36 2012-08-01  1647762  19.09000  3.72   22.81000  -19.09000
NPV  :   11.40
IRR  :   14.41%
8 2009 0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Series([], Name: id, dtype: int64)
9 2009 1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
0    1647125
Name: id, dtype: int64
         Date     from          P     I        cash    invested
0  2009-09-01  1647125   0.000000  0.00 -299.870000  299.870000
1  2009-10-01  1647125   6.610673  3.83   10.440673   -6.610673
2  2009-11-01  1647125   6.700673  3.74   10.440673   -6.700673
3  2009-12-01  1647125   6.780673  3.66   10.440673   -6.780673
4  2010-01-01  1647125   6.870673  3.57   10.440673   -6.870673
5  2010-02-01  1647125   6.960673  3.48   10.440673   -6.960673
6  2010-03-01  1647125   7.050673  3.39   10.440673   -7.050673
7  2010-04-01  1647125   7.140673  3.30   10.440673   -7.140673
8  2010-05-01  1647125   7.230673  3.21   10.440673   -7.230673
9  2010-06-01  1647125   7.320673  3.12   10.440673   -7.320673
10 2010-07-01  1647125   7.410673  3.03   10.440673   -7.410673
11 2010-08-01  1647125   7.510673  2.93   10.440673   -7.510673
12 2010-09-01  1647125   7.600673  2.84   10.440673   -7.600673
13 2010-10-01  1647125   7.700673  2.74   10.440673   -7.700673
14 2010-11-01  1647125   7.800673  2.64   10.440673   -7.800673
15 2010-12-01  1647125   7.900673  2.54   10.440673   -7.900673
16 2011-01-01  1647125   8.000673  2.44   10.440673   -8.000673
17 2011-02-01  1647125   8.100673  2.34   10.440673   -8.100673
18 2011-03-01  1647125   8.200673  2.24   10.440673   -8.200673
19 2011-04-01  1647125   8.310673  2.13   10.440673   -8.310673
20 2011-05-01  1647125   8.420673  2.02   10.440673   -8.420673
21 2011-06-01  1647125   8.520673  1.92   10.440673   -8.520673
22 2011-07-01  1647125   8.630673  1.81   10.440673   -8.630673
23 2011-08-01  1647125   8.740673  1.70   10.440673   -8.740673
24 2011-09-01  1647125   8.850673  1.59   10.440673   -8.850673
25 2011-10-01  1647125   8.970673  1.47   10.440673   -8.970673
26 2011-11-01  1647125   9.080673  1.36   10.440673   -9.080673
27 2011-12-01  1647125   9.200673  1.24   10.440673   -9.200673
28 2012-01-01  1647125   9.310673  1.13   10.440673   -9.310673
29 2012-02-01  1647125   9.430673  1.01   10.440673   -9.430673
30 2012-03-01  1647125   9.550673  0.89   10.440673   -9.550673
31 2012-04-01  1647125   9.670673  0.77   10.440673   -9.670673
32 2012-05-01  1647125   9.800673  0.64   10.440673   -9.800673
33 2012-06-01  1647125   9.920673  0.52   10.440673   -9.920673
34 2012-07-01  1647125  10.050673  0.39   10.440673  -10.050673
35 2012-08-01  1647125  10.180673  0.26   10.440673  -10.180673
36 2012-09-01  1647125  10.360000  0.26   10.620000  -10.360000
NPV  :   10.12
IRR  :   15.34%

10 2009 1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
0    1646725
Name: id, dtype: int64
         Date     from          P     I        cash    invested
0  2009-10-01  1646725   0.000000  0.00 -310.310000  310.310000
1  2009-11-01  1646725   6.917828  3.78   10.697828   -6.917828
2  2009-12-01  1646725   7.007828  3.69   10.697828   -7.007828
3  2010-01-01  1646725   7.087828  3.61   10.697828   -7.087828
4  2010-02-01  1646725   7.177828  3.52   10.697828   -7.177828
5  2010-03-01  1646725   7.267828  3.43   10.697828   -7.267828
6  2010-04-01  1646725   7.347828  3.35   10.697828   -7.347828
7  2010-05-01  1646725   7.437828  3.26   10.697828   -7.437828
8  2010-06-01  1646725   7.527828  3.17   10.697828   -7.527828
9  2010-07-01  1646725   7.627828  3.07   10.697828   -7.627828
10 2010-08-01  1646725   7.717828  2.98   10.697828   -7.717828
11 2010-09-01  1646725   7.807828  2.89   10.697828   -7.807828
12 2010-10-01  1646725   7.907828  2.79   10.697828   -7.907828
13 2010-11-01  1646725   7.997828  2.70   10.697828   -7.997828
14 2010-12-01  1646725   8.097828  2.60   10.697828   -8.097828
15 2011-01-01  1646725   8.197828  2.50   10.697828   -8.197828
16 2011-02-01  1646725   8.297828  2.40   10.697828   -8.297828
17 2011-03-01  1646725   8.397828  2.30   10.697828   -8.397828
18 2011-04-01  1646725   8.497828  2.20   10.697828   -8.497828
19 2011-05-01  1646725   8.607828  2.09   10.697828   -8.607828
20 2011-06-01  1646725   8.707828  1.99   10.697828   -8.707828
21 2011-07-01  1646725   8.817828  1.88   10.697828   -8.817828
22 2011-08-01  1646725   8.917828  1.78   10.697828   -8.917828
23 2011-09-01  1646725   9.027828  1.67   10.697828   -9.027828
24 2011-10-01  1646725   9.137828  1.56   10.697828   -9.137828
25 2011-11-01  1646725   9.247828  1.45   10.697828   -9.247828
26 2011-12-01  1646725   9.367828  1.33   10.697828   -9.367828
27 2012-01-01  1646725   9.477828  1.22   10.697828   -9.477828
28 2012-02-01  1646725   9.597828  1.10   10.697828   -9.597828
29 2012-03-01  1646725   9.707828  0.99   10.697828   -9.707828
30 2012-04-01  1646725   9.827828  0.87   10.697828   -9.827828
31 2012-05-01  1646725   9.947828  0.75   10.697828   -9.947828
32 2012-06-01  1646725  10.067828  0.63   10.697828  -10.067828
33 2012-07-01  1646725  10.197828  0.50   10.697828  -10.197828
34 2012-08-01  1646725  10.317828  0.38   10.697828  -10.317828
35 2012-09-01  1646725  10.447828  0.25   10.697828  -10.447828
36 2012-10-01  1646725  10.490000  0.72   11.210000  -10.490000
NPV  :    7.54
IRR  :   14.69%
11 2009 1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
0    1646078
Name: id, dtype: int64
        Date     from          P      I       cash   invested
0 2009-11-01  1646078    0.00000   0.00 -321.01000  321.01000
1 2009-12-01  1646078    7.47608   3.16   10.63608   -7.47608
2 2010-01-01  1646078    7.54608   3.09   10.63608   -7.54608
3 2010-02-01  1646078    7.61608   3.02   10.63608   -7.61608
4 2010-03-01  1646078    7.69608   2.94   10.63608   -7.69608
5 2010-04-01  1646078    7.76608   2.87   10.63608   -7.76608
6 2010-05-01  1646078    7.84608   2.79   10.63608   -7.84608
7 2010-06-01  1646078    7.92608   2.71   10.63608   -7.92608
8 2010-07-01  1646078  267.11000 -37.16  229.95000 -267.11000
NPV  :  -38.72
IRR  :   -9.03%
12 2009 2
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
0    1645560
1    1652715
Name: id, dtype: int64
         Date     from          P      I        cash    invested
0  2009-12-01  1645560   0.000000   0.00 -165.820000  165.820000
1  2010-01-01  1645560   3.740894   1.92    5.660894   -3.740894
2  2010-02-01  1645560   3.780894   1.88    5.660894   -3.780894
3  2010-03-01  1645560   3.820894   1.84    5.660894   -3.820894
4  2010-04-01  1645560   3.870894   1.79    5.660894   -3.870894
5  2010-05-01  1645560   3.910894   1.75    5.660894   -3.910894
6  2010-06-01  1645560   3.960894   1.70    5.660894   -3.960894
7  2010-07-01  1645560   4.000894   1.66    5.660894   -4.000894
8  2010-08-01  1645560   4.050894   1.61    5.660894   -4.050894
9  2010-09-01  1645560   4.100894   1.56    5.660894   -4.100894
10 2010-10-01  1645560   4.150894   1.51    5.660894   -4.150894
11 2010-11-01  1645560   4.190894   1.47    5.660894   -4.190894
12 2010-12-01  1645560   4.240894   1.42    5.660894   -4.240894
13 2011-01-01  1645560   4.290894   1.37    5.660894   -4.290894
14 2011-02-01  1645560   4.340894   1.32    5.660894   -4.340894
15 2011-03-01  1645560   4.390894   1.27    5.660894   -4.390894
16 2011-04-01  1645560   4.440894   1.22    5.660894   -4.440894
17 2011-05-01  1645560   4.490894   1.17    5.660894   -4.490894
18 2011-06-01  1645560  96.060000 -90.28    5.780000  -96.060000
NPV  :  -73.60
IRR  :  -56.07%
         Date     from         P     I        cash    invested
0  2009-11-01  1652715  0.000000  0.00 -165.820000  165.820000
1  2009-12-01  1652715  3.641127  2.16    5.801127   -3.641127
2  2010-01-01  1652715  3.681127  2.12    5.801127   -3.681127
3  2010-02-01  1652715  3.731127  2.07    5.801127   -3.731127
4  2010-03-01  1652715  3.781127  2.02    5.801127   -3.781127
5  2010-04-01  1652715  3.831127  1.97    5.801127   -3.831127
6  2010-05-01  1652715  3.881127  1.92    5.801127   -3.881127
7  2010-06-01  1652715  3.931127  1.87    5.801127   -3.931127
8  2010-07-01  1652715  3.981127  1.82    5.801127   -3.981127
9  2010-08-01  1652715  4.031127  1.77    5.801127   -4.031127
10 2010-09-01  1652715  4.091127  1.71    5.801127   -4.091127
11 2010-10-01  1652715  4.141127  1.66    5.801127   -4.141127
12 2010-11-01  1652715  4.191127  1.61    5.801127   -4.191127
13 2010-12-01  1652715  4.251127  1.55    5.801127   -4.251127
14 2011-01-01  1652715  4.301127  1.50    5.801127   -4.301127
15 2011-02-01  1652715  4.361127  1.44    5.801127   -4.361127
16 2011-03-01  1652715  4.421127  1.38    5.801127   -4.421127
17 2011-04-01  1652715  4.481127  1.32    5.801127   -4.481127
18 2011-05-01  1652715  4.531127  1.27    5.801127   -4.531127
19 2011-06-01  1652715  4.591127  1.21    5.801127   -4.591127
20 2011-07-01  1652715  4.651127  1.15    5.801127   -4.651127
21 2011-08-01  1652715  4.711127  1.09    5.801127   -4.711127
22 2011-09-01  1652715  4.771127  1.03    5.801127   -4.771127
23 2011-10-01  1652715  4.841127  0.96    5.801127   -4.841127
24 2011-11-01  1652715  4.901127  0.90    5.801127   -4.901127
25 2011-12-01  1652715  4.961127  0.84    5.801127   -4.961127
26 2012-01-01  1652715  5.031127  0.77    5.801127   -5.031127
27 2012-02-01  1652715  5.091127  0.71    5.801127   -5.091127
28 2012-03-01  1652715  5.161127  0.64    5.801127   -5.161127
29 2012-04-01  1652715  5.231127  0.57    5.801127   -5.231127
30 2012-05-01  1652715  5.301127  0.50    5.801127   -5.301127
31 2012-06-01  1652715  5.371127  0.43    5.801127   -5.371127
32 2012-07-01  1652715  5.441127  0.36    5.801127   -5.441127
33 2012-08-01  1652715  5.511127  0.29    5.801127   -5.511127
34 2012-09-01  1652715  5.581127  0.22    5.801127   -5.581127
35 2012-10-01  1652715  5.651127  0.15    5.801127   -5.651127
36 2012-11-01  1652715  5.800000  0.73    6.530000   -5.800000
NPV  :    6.85
IRR  :   15.85%

In [8]:
print(years)
no_y = len(years)
print(no_y*12*250)
print(df_cash['cash'].sum())
print(df_cash['cash'].sum()+(no_y*12*250))

[2008, 2009]
6000
648.1106792938809
6648.110679293881

In [9]:
np.fv(.14/12, 12*no_y, -250, 0, )
# 0, 13.41, 29.6, 11.39, 0.73

6878.2950021862935

In [10]:
sp_500_return = [-38.49, 23.45, 12.78, 0, 13.41, 29.6]

np.mean(sp_500_return)#, 11.39, .73])

6.791666666666667

In [11]:
df_cash.groupby('from').count()

         Date  cash  invested   P   I
from
1645560    19    19        19  19  19
1646078     9     9         9   9   9
1646725    37    37        37  37  37
1647125    37    37        37  37  37
1647762    37    37        37  37  37
1649074     5     5         5   5   5
1649404     7     7         7   7   7
1649481    36    36        36  36  36
1649828    22    22        22  22  22
1650866    37    37        37  37  37
1652715    37    37        37  37  37
1653631    36    36        36  36  36
Start       1     1         1   0   0

In [12]:
# A look at loans and cash
temp_cash_df = df_cash.groupby('from', as_index = False).agg({'Date': ['first', 'last'], 'cash': ['sum', 'first', 'last']})
temp_cash_df['Date', 'diff']= round((temp_cash_df['Date', 'last'] - temp_cash_df['Date', 'first']) / np.timedelta64(1,'M'),0)
temp_cash_df = temp_cash_df[:-1]
temp_cash_df

       from       Date                   cash                   Date
                 first       last         sum    first    last  diff
0   1645560 2009-12-01 2011-06-01  -63.804807 -165.820    5.78  18.0
1   1646078 2009-11-01 2010-07-01  -16.607441 -321.010  229.95   8.0
2   1646725 2009-10-01 2012-10-01   75.323988 -310.310   11.21  36.0
3   1647125 2009-09-01 2012-09-01   76.173538 -299.870   10.62  36.0
4   1647762 2009-08-01 2012-08-01  133.760959 -560.110   22.81  36.0
5   1649074 2009-03-01 2009-07-01   18.594068 -285.000  275.11   4.0
6   1649404 2009-02-01 2009-08-01   29.083038 -137.985  145.55   6.0
7   1649481 2009-02-01 2012-01-01   30.939770 -137.985    8.33  35.0
8   1649828 2008-12-01 2010-09-01  -52.512146 -267.190   39.07  21.0
9   1650866 2008-03-01 2011-03-01   69.174588 -250.000   23.34  36.0
10  1652715 2009-11-01 2012-11-01   43.749437 -165.820    6.53  36.0
11  1653631 2008-04-01 2011-03-01   54.235688 -258.450   15.59  35.0

In [13]:
temp_cash_df['cash','sum'].sum()

398.1106792938807

In [14]:
temp_cash_df

       from       Date                   cash                   Date
                 first       last         sum    first    last  diff
0   1645560 2009-12-01 2011-06-01  -63.804807 -165.820    5.78  18.0
1   1646078 2009-11-01 2010-07-01  -16.607441 -321.010  229.95   8.0
2   1646725 2009-10-01 2012-10-01   75.323988 -310.310   11.21  36.0
3   1647125 2009-09-01 2012-09-01   76.173538 -299.870   10.62  36.0
4   1647762 2009-08-01 2012-08-01  133.760959 -560.110   22.81  36.0
5   1649074 2009-03-01 2009-07-01   18.594068 -285.000  275.11   4.0
6   1649404 2009-02-01 2009-08-01   29.083038 -137.985  145.55   6.0
7   1649481 2009-02-01 2012-01-01   30.939770 -137.985    8.33  35.0
8   1649828 2008-12-01 2010-09-01  -52.512146 -267.190   39.07  21.0
9   1650866 2008-03-01 2011-03-01   69.174588 -250.000   23.34  36.0
10  1652715 2009-11-01 2012-11-01   43.749437 -165.820    6.53  36.0
11  1653631 2008-04-01 2011-03-01   54.235688 -258.450   15.59  35.0

In [25]:
df_cash.groupby('from').agg({'Date': 'first', 'cash': 'first'})[:-1].sort_values(by='Date')#.sum()

              Date     cash
from
1650866 2008-03-01 -250.000
1653631 2008-04-01 -258.450
1649828 2008-12-01 -267.190
1649404 2009-02-01 -137.985
1649481 2009-02-01 -137.985
1649074 2009-03-01 -285.000
1647762 2009-08-01 -560.110
1647125 2009-09-01 -299.870
1646725 2009-10-01 -310.310
1646078 2009-11-01 -321.010
1652715 2009-11-01 -165.820
1645560 2009-12-01 -165.820

In [26]:
9*250

2250

In [138]:
df_cash.groupby('from').agg({'Date': 'first', 'cash': 'first'})[:-1].sum()

cash   -3159.55
dtype: float64

In [139]:
df_cash.groupby('from').agg({'Date': 'first', 'cash': 'first'})[:-1].sum()+(10*250)

cash   -659.55
dtype: float64

In [133]:
for loan_ in df_cash.groupby('from')['from'].first():
    print(df[df['id']==loan_][['good','months_of_pay']])

         good  months_of_pay
1645540  True             35
         good  months_of_pay
1646058  True             33
         good  months_of_pay
1646705  True             35
          good  months_of_pay
1647105  False             12
         good  months_of_pay
1647742  True             25
         good  months_of_pay
1649054  True             36
         good  months_of_pay
1649384  True             35
         good  months_of_pay
1649461  True             35
         good  months_of_pay
1649808  True             28
         good  months_of_pay
1650846  True             35
         good  months_of_pay
1652694  True              8
          good  months_of_pay
1653610  False              9
Empty DataFrame
Columns: [good, months_of_pay]
Index: []

In [132]:
df[df['id'] == 1649808][['loan_amnt', 'good', 'months_of_pay']]

         loan_amnt  good  months_of_pay
1649788    15000.0  True              2

In [105]:
print(df_cash.groupby('from')['from']
     .first()
     .apply(
         lambda x: 
             df[df['id'] == x ]
               [['good','months_of_pay']])
)

from
1645560             good  months_of_pay
1645540  True    ...
1646078             good  months_of_pay
1646058  True    ...
1646725             good  months_of_pay
1646705  True    ...
1647125              good  months_of_pay
1647105  False  ...
1647762             good  months_of_pay
1647742  True    ...
1649074             good  months_of_pay
1649054  True    ...
1649404             good  months_of_pay
1649384  True    ...
1649481             good  months_of_pay
1649461  True    ...
1649828             good  months_of_pay
1649808  True    ...
1650866             good  months_of_pay
1650846  True    ...
1652715             good  months_of_pay
1652694  True    ...
1653631              good  months_of_pay
1653610  False  ...
Start      Empty DataFrame
Columns: [good, months_of_pay]...
Name: from, dtype: object

In [37]:
#
#print(return_[1:37])
print(f'NPV  :  {np.npv(.13/12, return_) :>6.2f}')
print(f'IRR  :  {np.irr(return_*-1)* 12:>7.2%}')
print(f"MIRR :  {np.mirr(return_*-1, 4/12, 13/12)*.12:>7.2%}")

NPV  :    6.85
IRR  :   15.85%
MIRR :   14.62%

In [38]:
df_ = df.loc[1307326, fields_]
#   1307326
invested = 700
#rec_back = 0
P, I, inv = loan_calc(invested, df_)
df_cash = invest()

ValueError: too many values to unpack (expected 3)

In [153]:
print(df_cash['invested'].sum())
df_cash.shape

0.005119356926684304

(51, 6)

In [154]:
df_cash

                   Date      from          cash    invested           P      I
0               2007-01  starting  10000.000000    0.000000         NaN    NaN
1   2015-12-01 00:00:00    loan_x   -700.000000  700.000000    0.000000   0.00
2   2016-01-01 00:00:00    loan_x     22.058374  -17.168374   17.168374   4.89
3   2016-02-01 00:00:00    loan_x     22.058374  -17.288374   17.288374   4.77
4   2016-03-01 00:00:00    loan_x     22.058374  -17.408374   17.408374   4.65
..                  ...       ...           ...         ...         ...    ...
46  2014-12-01 00:00:00    loan_x     23.414181  -17.524181   17.524181   5.89
47  2015-01-01 00:00:00    loan_x     23.414181  -17.704181   17.704181   5.71
48  2015-02-01 00:00:00    loan_x     23.414181  -17.884181   17.884181   5.53
49  2015-03-01 00:00:00    loan_x     23.414181  -18.074181   18.074181   5.34
50  2015-04-01 00:00:00    loan_x    522.860000 -495.040000  495.040000  27.82

[51 rows x 6 columns]

In [155]:
print(df_cash['cash'])
print(df_cash['cash'].sum())
print(df_cash.shape)
print(df_cash[df_cash['from']=='loan_x']['cash'])
return_ = df_cash[df_cash['from']=='loan_x']['cash'] #-df_cash['I'][1:37]
#
#print(return_[1:37])
print(f'NPV  :  {np.npv(.13/12, return_) :>6.2f}')
print(f'IRR  :  {np.irr(return_*-1)* 12:>7.2%}')
print(f"MIRR :  {np.mirr(return_*-1, 4/12, 13/12)*.12:>7.2%}")

0     10000.000000
1      -700.000000
2        22.058374
3        22.058374
4        22.058374
          ...
46       23.414181
47       23.414181
48       23.414181
49       23.414181
50      522.860000
Name: cash, Length: 51, dtype: float64
10189.904880643076
(51, 6)
1    -700.000000
2      22.058374
3      22.058374
4      22.058374
5      22.058374
         ...
46     23.414181
47     23.414181
48     23.414181
49     23.414181
50    522.860000
Name: cash, Length: 50, dtype: float64
NPV  :  -39.37
IRR  :   10.28%
MIRR :   14.23%

In [318]:
for i,v in enumerate(df.columns):
    print(i,"'"+v+"'")

0 'id'
1 'loan_amnt'
2 'funded_amnt'
3 'funded_amnt_inv'
4 'int_rate'
5 'installment'
6 'grade'
7 'sub_grade'
8 'emp_length'
9 'home_ownership'
10 'annual_inc'
11 'verification_status'
12 'issue_d'
13 'loan_status'
14 'purpose'
15 'addr_state'
16 'dti'
17 'delinq_2yrs'
18 'inq_last_6mths'
19 'mths_since_last_delinq'
20 'mths_since_last_record'
21 'open_acc'
22 'pub_rec'
23 'revol_bal'
24 'revol_util'
25 'total_acc'
26 'initial_list_status'
27 'out_prncp'
28 'out_prncp_inv'
29 'total_pymnt'
30 'total_pymnt_inv'
31 'total_rec_prncp'
32 'total_rec_int'
33 'total_rec_late_fee'
34 'recoveries'
35 'collection_recovery_fee'
36 'last_pymnt_d'
37 'last_pymnt_amnt'
38 'last_credit_pull_d'
39 'last_fico_range_high'
40 'last_fico_range_low'
41 'collections_12_mths_ex_med'
42 'mths_since_last_major_derog'
43 'policy_code'
44 'application_type'
45 'annual_inc_joint'
46 'dti_joint'
47 'verification_status_joint'
48 'acc_now_delinq'
49 'tot_coll_amt'
50 'tot_cur_bal'
51 'open_acc_6m'
52 'open_act_il'
53 'open_il_12m'
54 'open_il_24m'
55 'mths_since_rcnt_il'
56 'total_bal_il'
57 'il_util'
58 'open_rv_12m'
59 'open_rv_24m'
60 'max_bal_bc'
61 'all_util'
62 'total_rev_hi_lim'
63 'inq_fi'
64 'total_cu_tl'
65 'inq_last_12m'
66 'acc_open_past_24mths'
67 'avg_cur_bal'
68 'bc_open_to_buy'
69 'bc_util'
70 'chargeoff_within_12_mths'
71 'delinq_amnt'
72 'mo_sin_old_il_acct'
73 'mo_sin_old_rev_tl_op'
74 'mo_sin_rcnt_rev_tl_op'
75 'mo_sin_rcnt_tl'
76 'mort_acc'
77 'mths_since_recent_bc'
78 'mths_since_recent_bc_dlq'
79 'mths_since_recent_inq'
80 'mths_since_recent_revol_delinq'
81 'num_accts_ever_120_pd'
82 'num_actv_bc_tl'
83 'num_actv_rev_tl'
84 'num_bc_sats'
85 'num_bc_tl'
86 'num_il_tl'
87 'num_op_rev_tl'
88 'num_rev_accts'
89 'num_rev_tl_bal_gt_0'
90 'num_sats'
91 'num_tl_120dpd_2m'
92 'num_tl_30dpd'
93 'num_tl_90g_dpd_24m'
94 'num_tl_op_past_12m'
95 'pct_tl_nvr_dlq'
96 'percent_bc_gt_75'
97 'pub_rec_bankruptcies'
98 'tax_liens'
99 'tot_hi_cred_lim'
100 'total_bal_ex_mort'
101 'total_bc_limit'
102 'total_il_high_credit_limit'
103 'revol_bal_joint'
104 'sec_app_fico_range_low'
105 'sec_app_earliest_cr_line'
106 'sec_app_inq_last_6mths'
107 'sec_app_mort_acc'
108 'sec_app_open_acc'
109 'sec_app_revol_util'
110 'sec_app_open_act_il'
111 'sec_app_num_rev_accts'
112 'sec_app_chargeoff_within_12_mths'
113 'sec_app_collections_12_mths_ex_med'
114 'sec_app_mths_since_last_major_derog'
115 'disbursement_method'
116 'debt_settlement_flag_date'
117 'issue_year'
118 'issue_month'
119 'fico'
120 'term_60'
121 'last_pay_d'
122 'months_of_pay'
123 'loss_amnt'
124 'good'
125 'earliest_credit_10_more'

def loan_picker(issue_month_):
    start_date = '20120101'
    issue_year_ = 2014
    grade_ = ['C','D', 'E', 'F', 'G']
    fico_ = 1 # above this
    min_int_rate_ = 10.5
    emp_length_ = '< 1 year'
    annual_inc_ = 50000
    earliest_credit_10_more_ = 1
    loan_amnt_ = 25001
    term_60_ = 0
    chargeoff_within_12_mths_ = 0
    purpose_ = ['credit_card', 'debt_consolidation']
    total_acc_ = 25 # less than this amount
    installment_ = 800
    #issue_month_ = [7]
    inq_last_6mths_ = 0
    df_filtered = df[(df['issue_year']==issue_year_) & 
       (df['grade'].isin(grade_)) & 
       (df['fico']>fico_) & 
       (df['int_rate']>min_int_rate_) & 
       (df['home_ownership']!='RENT') & 
       (df['emp_length']!= emp_length_) &
       (df['annual_inc'] > annual_inc_) &
       (df['earliest_credit_10_more'] == earliest_credit_10_more_) &
       (df['loan_amnt'] < loan_amnt_) &
       (df['term_60']==term_60_) &
       (df['purpose'].isin(purpose_)) &
       (df['total_acc'] < total_acc_) &
       (df['installment'] < installment_) &
       (df['issue_month'].isin([3,4,5])&
       (df['inq_last_6mths']==inq_last_6mths_)
       )
      ].reset_index(drop=True)
    print(df_filtered['id'])
    return df_filtered['id']


start_date = '20120101'
issue_year_ = 2014
grade_ = ['D', 'E', 'F', 'G']
fico_ = 1 # above this
min_int_rate_ = 13.5
emp_length_ = '< 1 year'
annual_inc_ = 70000
earliest_credit_10_more_ = 1
loan_amnt_ = 25001
term_60_ = 0
chargeoff_within_12_mths_ = 0
purpose_ = ['credit_card', 'debt_consolidation']
total_acc_ = 25 # less than this amount
installment_ = 800
#issue_month_ = [7]
inq_last_6mths_ = 0


df_cash = cash_init(start_date, 650)
loans_=[]
for m in range (1,13):
    loans_.append(loan_picker(m))
    print(m)
    print(loans_)
print(loans_)

In [92]:
df_filtered = df[(df['issue_year']==issue_year_) & 
   (df['grade'].isin(grade_)) & 
   (df['fico']>fico_) & 
   (df['int_rate']>min_int_rate_) & 
   (df['home_ownership']!='RENT') & 
   (df['emp_length']!= emp_length_) &
   (df['annual_inc'] > annual_inc_) &
   (df['earliest_credit_10_more'] == earliest_credit_10_more_) &
   (df['loan_amnt'] < loan_amnt_) &
   (df['term_60']==term_60_) &
   (df['purpose'].isin(purpose_)) &
   (df['total_acc'] < total_acc_) &
   (df['installment'] < installment_) &
   (df['issue_month'].isin(issue_month_)&
   (df['inq_last_6mths']==inq_last_6mths_)
   )
  ].reset_index(drop=True)

print(df_filtered.groupby('good')['loss_amnt'].count())
loss = round(df_filtered[df_filtered['good']!=True]['loss_amnt'].sum(),-1)
loan = round(df_filtered[df_filtered['good']!=True]['loan_amnt'].sum(),-1)
print('Loss amount :', loss)
print('Loan amount :', loan)
print('Loss / Loan :', round(loss/loan, 3))
# total_pymnt_inv loan_amnt
rec = df_filtered['total_pymnt_inv'].sum()
paid_out = df_filtered['loan_amnt'].sum()
gain = rec - paid_out
print('Total rec   :', round(rec, -1))
print('Total paid  :', round(paid_out, -1))
print('Total gain  :', round(gain, -1))
print('Percent     :', round(gain/paid_out * 100, 1))


df_filtered

good
True    8
Name: loss_amnt, dtype: int64
Loss amount : 0.0
Loan amount : 0.0
Loss / Loan : nan
Total rec   : 134730.0
Total paid  : 109800.0
Total gain  : 24930.0
Percent     : 22.7

,id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,addr_state,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,disbursement_method,debt_settlement_flag_date,issue_year,issue_month,fico,term_60,last_pay_d,months_of_pay,loss_amnt,good,earliest_credit_10_more
0,1934941,16000.0,16000.0,16000.0,19.99,594.54,E,E1,10+ years,MORTGAGE,79000.0,Verified,2012-02-01,Fully Paid,debt_consolidation,WA,23.89,0.0,0.0,47.0,NaN,9.0,0.0,11187.0,90.2,17.0,f,0.0,0.0,18616.271609,18616.27,16000.0,2616.27,0.0,0.0,0.0,Jan-2013,12681.67,Feb-2013,689.0,685.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2012,2,2,0,2013-01-01,10,0.0,True,1
1,1935816,21000.0,21000.0,21000.0,17.58,754.79,D,D4,2 years,MORTGAGE,72000.0,Verified,2012-02-01,Fully Paid,debt_consolidation,MA,11.63,2.0,0.0,12.0,NaN,11.0,0.0,19116.0,80.7,21.0,f,0.0,0.0,27172.120013,27172.12,21000.0,6172.12,0.0,0.0,0.0,Feb-2015,777.08,Mar-2019,769.0,765.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2012,2,2,0,2015-02-01,35,0.0,True,1
2,1937707,20000.0,20000.0,20000.0,16.29,706.01,D,D1,6 years,MORTGAGE,92000.0,Verified,2012-01-01,Fully Paid,debt_consolidation,NC,8.80,0.0,0.0,NaN,NaN,10.0,0.0,19212.0,95.9,11.0,f,0.0,0.0,25416.250000,25416.25,20000.0,5416.25,0.0,0.0,0.0,Jan-2015,718.62,Jan-2015,694.0,690.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2012,1,3,0,2015-01-01,35,0.0,True,1
3,1937923,8000.0,8000.0,8000.0,17.58,287.54,D,D4,10+ years,MORTGAGE,75000.0,Not Verified,2012-01-01,Fully Paid,debt_consolidation,NJ,11.25,0.0,0.0,48.0,NaN,13.0,0.0,9510.0,92.2,21.0,f,0.0,0.0,10351.280000,10351.28,8000.0,2351.28,0.0,0.0,0.0,Jan-2015,307.06,Mar-2019,694.0,690.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2012,1,2,0,2015-01-01,35,0.0,True,1
4,1938774,10000.0,10000.0,10000.0,16.77,355.39,D,D2,1 year,OWN,96000.0,Source Verified,2012-01-01,Fully Paid,debt_consolidation,VA,0.91,2.0,0.0,17.0,NaN,6.0,0.0,2431.0,62.3,15.0,f,0.0,0.0,12242.837867,12242.84,10000.0,2242.84,0.0,0.0,0.0,Oct-2013,5147.98,Mar-2019,649.0,645.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2012,1,2,0,2013-10-01,19,0.0,True,1
5,1938835,20000.0,20000.0,19925.0,17.58,718.85,D,D4,3 years,OWN,86004.0,Verified,2012-01-01,Fully Paid,debt_consolidation,NY,11.57,1.0,0.0,13.0,58.0,3.0,1.0,11638.0,90.9,8.0,f,0.0,0.0,23500.632261,23412.50,20000.0,3500.63,0.0,0.0,0.0,Mar-2013,14171.52,Mar-2013,714.0,710.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2012,1,3,0,2013-03-01,12,0.0,True,1
6,1938860,10000.0,10000.0,10000.0,17.58,359.43,D,D4,3 years,MORTGAGE,72540.0,Verified,2012-01-01,Fully Paid,debt_consolidation,WA,6.77,0.0,0.0,NaN,NaN,8.0,0.0,9864.0,96.7,21.0,f,0.0,0.0,11421.417122,11421.42,10000.0,1421.42,0.0,0.0,0.0,Jan-2013,1276.55,Feb-2013,784.0,780.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2012,1,2,0,2013-01-01,11,0.0,True,1
7,1938896,4800.0,4800.0,4800.0,16.29,169.45,D,D1,10+ years,MORTGAGE,76800.0,Source Verified,2012-01-01,Fully Paid,debt_consolidation,CT,10.71,2.0,0.0,17.0,NaN,4.0,0.0,526.0,75.1,21.0,f,0.0,0.0,6101.339998,6101.34,4800.0,1301.34,0.0,0.0,0.0,Jan-2015,174.41,May-2017,619.0,615.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2012,1,2,0,2015-01-01,35,0.0,True,1

In [127]:
df_cash = cash_init(start_date, 300)
print(len(loans_))
print(df_cash.loc[0, 'cash'])
for loan_ in loans_:
    P, I, inv, df_ = run_loan(loan_, fields_, df_cash.loc[0, 'cash']/len(loans_))
    df_cash = invest(df_cash, loan_, df_)
    return_ = df_cash[df_cash['from']==loan_]['cash'] 
    print(f'NPV  :  {np.npv(.13/12, return_) :>6.2f}')
    print(f'IRR  :  {np.irr(return_*-1)* 12:>7.2%}')
    #print(f"MIRR :  {np.mirr(return_*-1, 4/12, 13/12)*.12:>7.2%}")

1
300
         Date     from          P     I        cash    invested
0  2012-12-01  1888103   0.000000  0.00 -300.000000  300.000000
1  2013-01-01  1888103   3.992957  2.22    6.212957   -3.992957
2  2013-02-01  1888103   4.012957  2.20    6.212957   -4.012957
3  2013-03-01  1888103   4.042957  2.17    6.212957   -4.042957
4  2013-04-01  1888103   4.072957  2.14    6.212957   -4.072957
..        ...      ...        ...   ...         ...         ...
45 2016-09-01  1888103   5.522957  0.69    6.212957   -5.522957
46 2016-10-01  1888103   5.562957  0.65    6.212957   -5.562957
47 2016-11-01  1888103   5.602957  0.61    6.212957   -5.602957
48 2016-12-01  1888103   5.642957  0.57    6.212957   -5.642957
49 2017-01-01  1888103  71.230000  0.63   71.860000  -71.230000

[50 rows x 6 columns]
NPV  :  -26.03
IRR  :    8.93%

In [50]:
df_cash.groupby('Date').sum()

                  cash    invested           P       I
Date
2009-12-01  300.000000    0.000000    0.000000    0.00
2010-12-01 -300.000000  300.000000    0.000000    0.00
2011-01-01   10.376700   -6.666700    6.666700    3.71
2011-02-01   10.376700   -6.746700    6.746700    3.63
2011-03-01   10.376700   -6.836700    6.836700    3.54
2011-04-01   10.376700   -6.916700    6.916700    3.46
2011-05-01   10.376700   -7.006700    7.006700    3.37
2011-06-01   10.376700   -7.096700    7.096700    3.28
2011-07-01   10.376700   -7.186700    7.186700    3.19
2011-08-01   10.376700   -7.266700    7.266700    3.11
2011-09-01   10.376700   -7.356700    7.356700    3.02
2011-10-01   10.376700   -7.446700    7.446700    2.93
2011-11-01   10.376700   -7.536700    7.536700    2.84
2011-12-01   10.376700   -7.626700    7.626700    2.75
2012-01-01   10.376700   -7.726700    7.726700    2.65
2012-02-01    5.329417 -107.939417  107.939417 -102.61
2012-03-01    5.079417   -3.979417    3.979417    1.10
2012-04-01    5.079417   -4.029417    4.029417    1.05
2012-05-01    5.079417   -4.069417    4.069417    1.01
2012-06-01    5.079417   -4.119417    4.119417    0.96
2012-07-01    5.079417   -4.159417    4.159417    0.92
2012-08-01   78.760000  -78.240000   78.240000    0.52