# Import Statements

In [1]:
# regular imports
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

%matplotlib inline

In [2]:
# display related imports
from IPython.display import display, Image
from IPython.display import HTML
from IPython.display import IFrame

# Widgets
import ipywidgets as widgets
from ipywidgets import interact, interact_manual
!jupyter nbextension enable --py widgetsnbextension

# to save dataframe as an image
import dataframe_image as dfi

# hide warnings
import warnings
warnings.filterwarnings('ignore')

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK

# Functions for display and data

In [3]:
# interact allows makes the function interactive without a needed call to it
#@interact
def w_(n_columns=(5, 30, 5), n_rows=(10,60, 10)):
    ''' sliders to select max rows and columns, not really needed here, but usefull in other notebooks'''
    if n_columns>25:
        pd.set_option('display.max_columns', None)
        c = 'ALL'
    else:
        pd.set_option('display.max_columns', n_columns)
        c = str(n_columns)
    if n_rows > 50:
        pd.set_option('display.max_rows', None)
        r = 'ALL'
    else:
        pd.set_option('display.max_rows', n_rows)
        r = str(n_rows)
    print('Number of columns to display ->', c)
    print('Number of rows to display ->', r)

In [4]:
# EDA Functions

In [5]:
def view_describe(df, ret_percent):
    ''' does a describe on data and returns a smaller dataframe to look at based on percent'''
    print('SHAPE')
    print(df.shape)
    print('*' * 100)
    print('HEAD')
    print(df.head(10))
    print('*' * 100)
    print('DESCRIBE')
    print(df.describe().round())
    if ret_percent < 1:
        return df.sample(frac = ret_percent, random_state = 22)
    return df

In [6]:
# Change Col Names

In [7]:
def change_col_space_lower(df):
    '''Function to setup the column names
    Inputs: dataframe
    Outputs: dataframe with changed column names
     - All lower Case
     - no spaces, change to _
     - no dashes, change to _
     - will add a dict input that will change key words into other word
     (i.e. employment to emp)
    '''
    df.columns = df.columns.str.replace((' ' and '-'), '_').str.lower()

In [8]:
# Look at Missing Data

In [9]:
def missing_data_df(df_):
    ''' function to transpose the data use the column names to describe the data set
    input: dataframe
    output: transposed dataframe with info on missing count,
        missing percent,
        count of data,
        unigue values
    '''
    df = pd.DataFrame(df_.head(1).T).reset_index()
    df['na_count']   = [df_[col_].isnull().sum() for col_ in df['index']]
    df['na_percent'] = [df_[col_].isnull().sum()/df_.shape[0] for col_ in df['index']]
    df['count']      = [df_[col_].count() for col_ in df['index']]
    df['unique_count'] = [len(df_[col_].unique()) for col_ in df['index']]
    df['dtype_'] = [df_[col_].dtypes for col_ in df['index']]
    df['unique_data'] = ['None' if df_[col_].dtypes != np.object else ','.join(map(str, df_[col_].unique())) for col_ in df['index']]
    df['Drop_'] = 0

    df.drop(0, axis=1, inplace=True)
    df.columns = df.columns.str.replace('index', 'col_name')
    return df

# Lending Club Info
Lending Club: https://drive.google.com/file/d/10XHxLtu0Jcuf4hXxB8F3oPdlUlMKYV9g/view?usp=sharing

https://www.kaggle.com/wordsforthewise/lending-club

https://www.lendingclub.com

# Display Setup

In [15]:
print('sliders to change number of rows and columns')
interact(w_)
print('be careful, full dataset can go slow when set to max')

sliders to change number of rows and columns
be careful, full dataset can go slow when set to max

interactive(children=(IntSlider(value=15, description='n_columns', max=30, min=5, step=5), IntSlider(value=30,â€¦

In [10]:
# load data, set that you want pick one, both sets will slow down computer - also skip and load smaller pickle
# set if that is all you need

LOAD = 'Accept_pickle' # 'None' 'Rejected' 'Both' 'Accept_pickle' 'Accepted'
if LOAD == 'Accepted':
    accepted = pd.read_csv('data/lending_data/accepted_2007_to_2018Q4.csv')
    print('You Loaded the accepted file, this is the full file!')
elif LOAD == 'Rejected':
    rejected = pd.read_csv('data/lending_data/rejected_2007_to_2018Q4.csv')
    print('You loaded the Rejected File, this is the full file')
elif LOAD == 'Both':
    accepted = pd.read_csv('data/lending_data/accepted_2007_to_2018Q4.csv')
    rejected = pd.read_csv('data/lending_data/rejected_2007_to_2018Q4.csv')
elif LOAD == 'Accept_pickle':
    accepted = pd.read_pickle('data/accepted_rem_na.pkl')
    print('Loaded the pickle file - all changes below are reflected in this file')
else:
    print('Nothing Has Been Loaded!')

In [ ]:
%%script false
# makes a small version of the data set and shows describe on full set of data
# %%script false <- make false if you just want to load pickle version
accepted_sm = view_describe(accepted, .01)
rejected_sm = view_describe(rejected, .01)

In [ ]:
#drop stuff from memory

# To Pickle

In [ ]:
%%script false # pickle is out in data, else remove save pickle info

col_accep = missing_data_df(accepted)
col_accep.to_pickle('data/col_info_accept.pkl')
col_rejected = missing_data_df(rejected)
col_rejected.to_pickle('data/col_info_rejected.pkl')
accepted_sm.to_pickle('data/accepted_sm.pkl')
rejected_sm.to_pickle('data/rejected_sm.pkl')

# Load Pickle

In [ ]:
# %%script false set to load from pickle

col_accepted = pd.read_pickle('data/col_info_accept.pkl')
col_rejected = pd.read_pickle('data/col_info_rejected.pkl')
accepted_sm = pd.read_pickle('data/accepted_sm.pkl')

In [ ]:
col_accepted

In [ ]:
# ******* setting up an xlxs for looking at data columns *****
#!pip install openpyxl - need to install to write excel file
#!pip install xlrd - need to install to read excel file
#sending to csv so I can update column info in excel
#accepted = pd.read_csv('data/lending_data/accepted_2007_to_2018Q4.csv')
#col_accep = missing_data_df(accepted)
#col_accep.to_excel('data/column_accep_info.xlsx')

In [ ]:
col_accep_excel = pd.read_excel('data/column_accep_info.xls')

In [ ]:
col_accep_excel

# Notes

In [ ]:
# drop url, member id, id?,
# keep hardship flag drop all hardship? not known at start

In [ ]:
# predict expected return from start?
# recreate their risk score?
# can I create a warning system when a loan is become in danger, create
# a system to mediate before it hits the danger area?
# figure out the loss amounts and see how to reduce?

breaking all the accepted loans into deals (bonds)
Have different investment classes for the deals (groups of loans)
You have the Very Safe Deal
the Medium Risk deal (some risk some return)
the High Risk High Reward Class
The Junk bond status let's roll the dice!

What discount rate would be required to make these marketable?

Problems:
not sure this data gives the date that problems start? might not be useable that way
but can use the start data and make projections about the data from the start

Can also look at their interest rate to calculate based on their starting rates...

High of 30+ percent, pretty sure that is capped in some states, might need to see which states cap their rates for personal loans... usury laws

In [ ]:
# and all good things come to an end, and so does this!

https://help.lendingclub.com/hc/en-us/articles/360050574891-Important-Updates-to-the-LendingClub-Notes-Platform

They are ending the notes program Dec 28th of this year!
So, it will no longer be available as a program.
Might want to copy their website so that future students have this as a resource.

Below is their loan grades and how they classify them into 12 deals... with their percents as of june 30, 2019...
2,311,305 loans open at that time...

In [ ]:
Image('lending_club_deals.png')

In [ ]:
# Split app date to month year
# State 52? is that na and DC?
# Risk score, High Bad?
# Loan Title - parse interesting words out? Can figure from columns at start

# From here down I'm just playing around with the data getting used to it...
# Finding columns to eliminate

In [ ]:
col_accepted['col_name']

# Column info

# credit report info
delinq_2yrs
earliest_cr_line date
fico_range_high
fico_range_high
inq_last_6mnths
mths_since_last_delinq

loan_amnt - float *
funded_amnt - drop
funded_amnt_inv - drop

term - cat (36, 60) *
int_rate - float *
installment (float) *
grade - cat (a-e) *
sub_grade - cat *
emp_title - string keep for now? *
emp_length - cat 0-10 *
home_ownership - cat (rent, own, Mortgage) *
annual_inc float *
verification_status cat (change to bool) *
issue_d date (month year) *

loan_status cat - keep
pymnt_plan - I think this is used for defaults ?
desc - used to describe pymnt_plan ?

purpose cat consol *
title cat consol *
zip_code cat *
abbr_state cat *
dti * debt-to-income same as in rejected

In [ ]:
rej_set = set(rejected_sm.columns)

In [ ]:
rej_not_in_accepted = rej_set - set(accepted_sm.columns)

In [ ]:
in_both = rej_set - rej_not_in_accepted

In [ ]:
in_both

In [ ]:
change_col_space_lower(rejected_sm)

In [ ]:
sns.pairplot(rejected_sm)

# Reducing NA's

In [32]:
accepted = pd.read_csv('data/lending_data/accepted_2007_to_2018Q4.csv')

In [33]:
# getting rid of the 33 na

In [11]:
accepted_rem_na = accepted[accepted['loan_amnt'].notna()].drop('member_id', axis=1)
accepted_rem_na.drop(['funded_amnt',
                      'funded_amnt_inv'], axis=1, inplace=True)
accepted_rem_na = accepted_rem_na[accepted_rem_na['dti'].notna()]
accepted_rem_na = accepted_rem_na[accepted_rem_na['total_acc'].notna()]
accepted_rem_na = accepted_rem_na[accepted_rem_na['collections_12_mths_ex_med'].notna()]
accepted_rem_na = accepted_rem_na[accepted_rem_na['last_credit_pull_d'].notna()]
accepted_rem_na = accepted_rem_na[accepted_rem_na['zip_code'].notna()]
accepted_rem_na = accepted_rem_na[accepted_rem_na['inq_last_6mths'].notna()]
hardship_col = [col for col in accepted_rem_na if col.startswith('hard')]
accepted_rem_na.drop(hardship_col[1:], axis=1, inplace=True)
settle_col = [col for col in accepted_rem_na if col.startswith('settle')]
accepted_rem_na.drop(settle_col[1:], axis=1, inplace=True)
accepted_rem_na.drop(['debt_settlement_flag_date',
                      'settlement_status',
                      'emp_title',
                      'url',
                      'desc',
                      'title'], axis=1, inplace=True)

In [13]:
del accepted
del hardship_col
del settle_col
col_accep = missing_data_df(accepted_rem_na)
for col_ in col_accep['col_name'][1:]:
     #['unique_count']])#if accepted_rem_na[col_][['unique_count']<20]:
     if (len(accepted_rem_na[col_].unique()) < 55):
         print(col_)
         accepted_rem_na[col_] = accepted_rem_na[col_].astype('category')

term
grade
sub_grade
emp_length
home_ownership
verification_status
loan_status
pymnt_plan
purpose
addr_state
delinq_2yrs
fico_range_low
fico_range_high
inq_last_6mths
pub_rec
initial_list_status
collections_12_mths_ex_med
policy_code
application_type
verification_status_joint
acc_now_delinq
open_acc_6m
open_il_12m
open_il_24m
open_rv_12m
open_rv_24m
inq_fi
inq_last_12m
chargeoff_within_12_mths
mort_acc
mths_since_recent_inq
num_accts_ever_120_pd
num_actv_bc_tl
num_rev_tl_bal_gt_0
num_tl_120dpd_2m
num_tl_30dpd
num_tl_90g_dpd_24m
num_tl_op_past_12m
pub_rec_bankruptcies
tax_liens
sec_app_inq_last_6mths
sec_app_mort_acc
sec_app_open_act_il
sec_app_chargeoff_within_12_mths
sec_app_collections_12_mths_ex_med
hardship_flag
deferral_term
payment_plan_start_date
disbursement_method
debt_settlement_flag

In [ ]:
col_accep = missing_data_df(accepted_rem_na)

In [16]:
col_accep

,col_name,na_count,na_percent,count,unique_count,dtype_,unique_data,Drop_
0,id,0,0.000000,2258740,2258740,object,"68407277,68355089,68341763,66310712,68476807,6...",0
1,loan_amnt,0,0.000000,2258740,1572,float64,None,0
2,term,0,0.000000,2258740,2,object,"36 months, 60 months",0
3,int_rate,0,0.000000,2258740,673,float64,None,0
4,installment,0,0.000000,2258740,93255,float64,None,0
5,grade,0,0.000000,2258740,7,object,"C,B,F,A,E,D,G",0
6,sub_grade,0,0.000000,2258740,35,object,"C4,C1,B4,C5,F1,C3,B2,B1,A2,B5,C2,E2,A4,E3,A1,D...",0
7,emp_title,165321,0.073192,2093419,512582,object,"leadman,Engineer,truck driver,Information Syst...",0
8,emp_length,145305,0.064330,2113435,12,object,"10+ years,3 years,4 years,6 years,1 year,7 yea...",0
9,home_ownership,0,0.000000,2258740,6,object,"MORTGAGE,RENT,OWN,ANY,NONE,OTHER",0
10,annual_inc,0,0.000000,2258740,89360,float64,None,0
11,verification_status,0,0.000000,2258740,3,object,"Not Verified,Source Verified,Verified",0
12,issue_d,0,0.000000,2258740,137,object,"Dec-2015,Nov-2015,Oct-2015,Sep-2015,Aug-2015,J...",0
13,loan_status,0,0.000000,2258740,9,object,"Fully Paid,Current,Charged Off,In Grace Period...",0
14,pymnt_plan,0,0.000000,2258740,2,object,"n,y",0
15,url,0,0.000000,2258740,2258740,object,https://lendingclub.com/browse/loanDetail.acti...,0
16,desc,2132810,0.944248,125930,124370,object,"nan,We knew that using our credit cards to fin...",0
17,purpose,0,0.000000,2258740,14,object,"debt_consolidation,small_business,home_improve...",0
18,title,23320,0.010324,2235420,63063,object,"Debt consolidation,Business,nan,Major purchase...",0
19,zip_code,0,0.000000,2258740,956,object,"190xx,577xx,605xx,076xx,174xx,300xx,550xx,293x...",0
20,addr_state,0,0.000000,2258740,51,object,"PA,SD,IL,NJ,GA,MN,SC,RI,TX,NC,CA,VA,AZ,NY,IN,M...",0
21,dti,0,0.000000,2258740,10845,float64,None,0
22,delinq_2yrs,0,0.000000,2258740,37,float64,None,0
23,earliest_cr_line,0,0.000000,2258740,754,object,"Aug-2003,Dec-1999,Aug-2000,Sep-2008,Jun-1998,O...",0
24,fico_range_low,0,0.000000,2258740,48,float64,None,0
25,fico_range_high,0,0.000000,2258740,48,float64,None,0
26,inq_last_6mths,0,0.000000,2258740,28,float64,None,0
27,mths_since_last_delinq,1157324,0.512376,1101416,174,float64,None,0
28,mths_since_last_record,1899892,0.841129,358848,130,float64,None,0
29,open_acc,0,0.000000,2258740,91,float64,None,0
30,pub_rec,0,0.000000,2258740,43,float64,None,0
31,revol_bal,0,0.000000,2258740,102218,float64,None,0
32,revol_util,1766,0.000782,2256974,1431,float64,None,0
33,total_acc,0,0.000000,2258740,152,float64,None,0
34,initial_list_status,0,0.000000,2258740,2,object,"w,f",0
35,out_prncp,0,0.000000,2258740,355705,float64,None,0
36,out_prncp_inv,0,0.000000,2258740,368029,float64,None,0
37,total_pymnt,0,0.000000,2258740,1632910,float64,None,0
38,total_pymnt_inv,0,0.000000,2258740,1310440,float64,None,0
39,total_rec_prncp,0,0.000000,2258740,486136,float64,None,0
40,total_rec_int,0,0.000000,2258740,635776,float64,None,0
41,total_rec_late_fee,0,0.000000,2258740,18346,float64,None,0
42,recoveries,0,0.000000,2258740,132741,float64,None,0
43,collection_recovery_fee,0,0.000000,2258740,146185,float64,None,0
44,last_pymnt_d,2423,0.001073,2256317,137,object,"Jan-2019,Jun-2016,Jun-2017,Feb-2019,Jul-2016,M...",0
45,last_pymnt_amnt,0,0.000000,2258740,704202,float64,None,0
46,next_pymnt_d,1344823,0.595386,913917,107,object,"nan,Apr-2019,Mar-2019,Dec-2018,Sep-2018,May-20...",0
47,last_credit_pull_d,0,0.000000,2258740,138,object,"Mar-2019,Mar-2018,May-2017,Nov-2018,Sep-2018,N...",0
48,last_fico_range_high,0,0.000000,2258740,72,float64,None,0
49,last_fico_range_low,0,0.000000,2258740,71,float64,None,0
50,collections_12_mths_ex_med,0,0.000000,2258740,16,float64,None,0
51,mths_since_last_major_derog,1678268,0.743011,580472,184,float64,None,0
52,policy_code,0,0.000000,2258740,1,float64,None,0
53,application_type,0,0.000000,2258740,2,object,"Individual,Joint App",0
54,annual_inc_joint,2139742,0.947317,118998,17470,float64,None,0
55,dti_joint,2139746,0.947318,118994,4015,float64,None,0
56,verification_status_joint,2144613,0.949473,114127,4,object,"nan,Not Verified,Verified,Source Verified",0
57,acc_now_delinq,0,0.000000,2258740,9,float64,None,0
58,tot_coll_amt,70129,0.031048,2188611,15573,float64,None,0
59,tot_cur_bal,70129,0.031048,2188611,487555,float64,None,0
60,open_acc_6m,865938,0.383372,1392802,20,float64,None,0
61,open_act_il,865938,0.383372,1392802,55,float64,None,0
62,open_il_12m,865938,0.383372,1392802,20,float64,None,0
63,open_il_24m,865938,0.383372,1392802,32,float64,None,0
64,mths_since_rcnt_il,909575,0.402691,1349165,406,float64,None,0
65,total_bal_il,865938,0.383372,1392802,162209,float64,None,0
66,il_util,1068056,0.472855,1190684,280,float64,None,0
67,open_rv_12m,865938,0.383372,1392802,30,float64,None,0
68,open_rv_24m,865938,0.383372,1392802,51,float64,None,0
69,max_bal_bc,865938,0.383372,1392802,33711,float64,None,0
70,all_util,866157,0.383469,1392583,189,float64,None,0
71,total_rev_hi_lim,70129,0.031048,2188611,34216,float64,None,0
72,inq_fi,865938,0.383372,1392802,34,float64,None,0
73,total_cu_tl,865938,0.383372,1392802,63,float64,None,0
74,inq_last_12m,865938,0.383372,1392802,49,float64,None,0
75,acc_open_past_24mths,49883,0.022084,2208857,58,float64,None,0
76,avg_cur_bal,70199,0.031079,2188541,88554,float64,None,0
77,bc_open_to_buy,74743,0.033091,2183997,91480,float64,None,0
78,bc_util,75879,0.033594,2182861,1495,float64,None,0
79,chargeoff_within_12_mths,0,0.000000,2258740,11,float64,None,0
80,delinq_amnt,0,0.000000,2258740,2616,float64,None,0
81,mo_sin_old_il_acct,138766,0.061435,2119974,567,float64,None,0
82,mo_sin_old_rev_tl_op,70130,0.031048,2188610,788,float64,None,0
83,mo_sin_rcnt_rev_tl_op,70130,0.031048,2188610,334,float64,None,0
84,mo_sin_rcnt_tl,70129,0.031048,2188611,233,float64,None,0
85,mort_acc,49883,0.022084,2208857,48,float64,None,0
86,mths_since_recent_bc,73222,0.032417,2185518,547,float64,None,0
87,mths_since_recent_bc_dlq,1739321,0.770040,519419,178,float64,None,0
88,mths_since_recent_inq,294925,0.130571,1963815,27,float64,None,0
89,mths_since_recent_revol_delinq,1518803,0.672412,739937,180,float64,None,0
90,num_accts_ever_120_pd,70129,0.031048,2188611,45,float64,None,0
91,num_actv_bc_tl,70129,0.031048,2188611,43,float64,None,0
92,num_actv_rev_tl,70129,0.031048,2188611,58,float64,None,0
93,num_bc_sats,58443,0.025874,2200297,61,float64,None,0
94,num_bc_tl,70129,0.031048,2188611,77,float64,None,0
95,num_il_tl,70129,0.031048,2188611,123,float64,None,0
96,num_op_rev_tl,70129,0.031048,2188611,82,float64,None,0
97,num_rev_accts,70130,0.031048,2188610,118,float64,None,0
98,num_rev_tl_bal_gt_0,70129,0.031048,2188611,51,float64,None,0
99,num_sats,58443,0.025874,2200297,92,float64,None,0
100,num_tl_120dpd_2m,153475,0.067947,2105265,8,float64,None,0
101,num_tl_30dpd,70129,0.031048,2188611,6,float64,None,0
102,num_tl_90g_dpd_24m,70129,0.031048,2188611,35,float64,None,0
103,num_tl_op_past_12m,70129,0.031048,2188611,34,float64,None,0
104,pct_tl_nvr_dlq,70283,0.031116,2188457,690,float64,None,0
105,percent_bc_gt_75,75187,0.033287,2183553,285,float64,None,0
106,pub_rec_bankruptcies,1224,0.000542,2257516,13,float64,None,0
107,tax_liens,0,0.000000,2258740,42,float64,None,0
108,tot_hi_cred_lim,70129,0.031048,2188611,529822,float64,None,0
109,total_bal_ex_mort,49883,0.022084,2208857,212745,float64,None,0
110,total_bc_limit,49883,0.022084,2208857,20307,float64,None,0
111,total_il_high_credit_limit,70129,0.031048,2188611,194111,float64,None,0
112,revol_bal_joint,2152346,0.952897,106394,56433,float64,None,0
113,sec_app_fico_range_low,2152345,0.952896,106395,63,float64,None,0
114,sec_app_fico_range_high,2152345,0.952896,106395,63,float64,None,0
115,sec_app_earliest_cr_line,2152345,0.952896,106395,664,object,"nan,Feb-2005,Oct-1987,Feb-2013,Mar-2003,May-20...",0
116,sec_app_inq_last_6mths,2152345,0.952896,106395,8,float64,None,0
117,sec_app_mort_acc,2152345,0.952896,106395,24,float64,None,0
118,sec_app_open_acc,2152345,0.952896,106395,68,float64,None,0
119,sec_app_revol_util,2154154,0.953697,104586,1217,float64,None,0
120,sec_app_open_act_il,2152345,0.952896,106395,41,float64,None,0
121,sec_app_num_rev_accts,2152345,0.952896,106395,87,float64,None,0
122,sec_app_chargeoff_within_12_mths,2152345,0.952896,106395,22,float64,None,0
123,sec_app_collections_12_mths_ex_med,2152345,0.952896,106395,17,float64,None,0
124,sec_app_mths_since_last_major_derog,2223344,0.984329,35396,141,float64,None,0
125,hardship_flag,0,0.000000,2258740,2,object,"N,Y",0
126,deferral_term,2247832,0.995171,10908,2,float64,None,0
127,payment_plan_start_date,2247832,0.995171,10908,28,object,"nan,Oct-2017,Sep-2017,Aug-2017,Sep-2018,Dec-20...",0
128,orig_projected_additional_accrued_interest,2250097,0.996174,8643,7480,float64,None,0
129,disbursement_method,0,0.000000,2258740,2,object,"Cash,DirectPay",0
130,debt_settlement_flag,0,0.000000,2258740,2,object,"N,Y",0

In [18]:
# saving current state to pickle
accepted_rem_na.to_pickle('data/accepted_rem_na.pkl')

In [ ]:
dfi.export(col_accep, 'col_accep_table.png', max_rows=150)  # where df is your data frame

In [ ]:
Image('col_accep_table.png')

In [42]:
pd.set_option.display.max_rows = 160

AttributeError: 'CallableDynamicDoc' object has no attribute 'display'