In [1]:
# regular imports
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

%matplotlib inline

In [2]:
# display related imports
from IPython.display import display, Image, clear_output, HTML, IFrame

# Widgets
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

# to save dataframe as an image
import dataframe_image as dfi

# hide warnings
import warnings
warnings.filterwarnings('ignore')

# Forest
from sklearn.tree import DecisionTreeClassifier

# Time Series
from datetime import datetime, timedelta
from dateutil.parser import parse
from pandas.tseries.offsets import DateOffset

In [64]:
df = pd.read_csv('data/df_for_filter.csv')

In [73]:
df.rename(columns={'Unnamed: 0': 'id'}, inplace=True)

In [74]:
df.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,addr_state,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,disbursement_method,debt_settlement_flag_date,issue_year,issue_month,fico,term_60,last_pay_d,months_of_pay,loss_amnt,good,earliest_credit_10_more
0,0,3600.0,3600.0,3600.0,13.99,123.03,C,C4,10+ years,MORTGAGE,55000.0,Not Verified,2015-12-01,Fully Paid,debt_consolidation,PA,5.91,0.0,1.0,30.0,NaN,7.0,0.0,2765.0,29.7,13.0,w,0.00,0.00,4421.723917,4421.72,3600.00,821.72,0.0,0.0,0.0,Jan-2019,122.67,Mar-2019,564.0,560.0,0.0,30.0,1.0,Individual,NaN,NaN,NaN,0.0,722.0,144904.0,2.0,2.0,0.0,1.0,21.0,4981.0,36.0,3.0,3.0,722.0,34.0,9300.0,3.0,1.0,4.0,4.0,20701.0,1506.0,37.2,0.0,0.0,148.0,128.0,3.0,3.0,1,4.0,69.0,4.0,69.0,2.0,2.0,4.0,2.0,5.0,3.0,4.0,9.0,4.0,7.0,0.0,0.0,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2015,12,3,0,2019-01-01,36,0.0,True,1
1,1,24700.0,24700.0,24700.0,11.99,820.28,C,C1,10+ years,MORTGAGE,65000.0,Not Verified,2015-12-01,Fully Paid,small_business,SD,16.06,1.0,4.0,6.0,NaN,22.0,0.0,21470.0,19.2,38.0,w,0.00,0.00,25679.660000,25679.66,24700.00,979.66,0.0,0.0,0.0,Jun-2016,926.35,Mar-2019,699.0,695.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,204396.0,1.0,1.0,0.0,1.0,19.0,18005.0,73.0,2.0,3.0,6472.0,29.0,111800.0,0.0,0.0,6.0,4.0,9733.0,57830.0,27.1,0.0,0.0,113.0,192.0,2.0,2.0,1,2.0,NaN,0.0,6.0,0.0,5.0,5.0,13.0,17.0,6.0,20.0,27.0,5.0,22.0,0.0,0.0,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2015,12,3,0,2016-06-01,5,0.0,True,1
2,2,20000.0,20000.0,20000.0,10.78,432.66,B,B4,10+ years,MORTGAGE,63000.0,Not Verified,2015-12-01,Fully Paid,home_improvement,IL,10.78,0.0,0.0,NaN,NaN,6.0,0.0,7869.0,56.2,18.0,w,0.00,0.00,22705.924294,22705.92,20000.00,2705.92,0.0,0.0,0.0,Jun-2017,15813.30,Mar-2019,704.0,700.0,0.0,NaN,1.0,Joint App,71000.0,13.85,Not Verified,0.0,0.0,189699.0,0.0,1.0,0.0,4.0,19.0,10827.0,73.0,0.0,2.0,2081.0,65.0,14000.0,2.0,5.0,1.0,6.0,31617.0,2737.0,55.9,0.0,0.0,125.0,184.0,14.0,14.0,1,101.0,NaN,10.0,NaN,0.0,2.0,3.0,2.0,4.0,6.0,4.0,7.0,3.0,6.0,0.0,0.0,0.0,0.0,100.0,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2015,12,3,1,2017-06-01,17,0.0,True,1
3,3,35000.0,35000.0,35000.0,14.85,829.90,C,C5,10+ years,MORTGAGE,110000.0,Source Verified,2015-12-01,Current,debt_consolidation,NJ,17.06,0.0,0.0,NaN,NaN,13.0,0.0,7802.0,11.6,17.0,w,15897.65,15897.65,31464.010000,31464.01,19102.35,12361.66,0.0,0.0,0.0,Feb-2019,829.90,Mar-2019,679.0,675.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,301500.0,1.0,1.0,0.0,1.0,23.0,12609.0,70.0,1.0,1.0,6987.0,45.0,67300.0,0.0,1.0,0.0,2.0,23192.0,54962.0,12.1,0.0,0.0,36.0,87.0,2.0,2.0,1,2.0,NaN,NaN,NaN,0.0,4.0,5.0,8.0,10.0,2.0,10.0,13.0,5.0,13.0,0.0,0.0,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2015,12,4,1,2019-02-01,37,0.0,True,0
4,4,10400.0,10400.0,10400.0,22.45,289.91,F,F1,3 years,MORTGAGE,104433.0,Source Verified,2015-12-01,Fully Paid,major_purchase,PA,25.37,1.0,3.0,12.0,NaN,12.0,0.0,21929.0,64.5,35.0,w,0.00,0.00,11740.500000,11740.50,10400.00,1340.50,0.0,0.0,0.0,Jul-2016,10128.96,Mar-2018,704.0,700.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,331730.0,1.0,3.0,0.0,3.0,14.0,73839.0,84.0,4.0,7.0,9702.0,78.0,34000.0,2.0,1.0,3.0,10.0,27644.0,4567.0,77.5,0.0,0.0,128.0,210.0,4.0,4.0,1,4.0,12.0,1.0,12.0,0.0,4.0,6.0,5.0,9.0,10.0,7.0,19.0,6.0,12.0,0.0,0.0,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2015,12,3,1,2016-07-01,5,0.0,True,1

In [75]:
df.shape

(2260668, 126)

In [76]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 40)

In [77]:
df['emp_length'].unique

<bound method Series.unique of 0          10+ years
1          10+ years
2          10+ years
3          10+ years
4            3 years
             ...
2260663      7 years
2260664    10+ years
2260665      9 years
2260666      6 years
2260667    10+ years
Name: emp_length, Length: 2260668, dtype: object>

In [78]:
issue_year_ = 2014
grade_ = ['D', 'E', 'F']
fico_ = 1 # above this
min_int_rate_ = 14.5
emp_length_ = '10+ years'
annual_inc_ = 70000
earliest_credit_10_more_ = 1
loan_amnt_ = 25001
term_60_ = 0
chargeoff_within_12_mths_ = 0
purpose_ = ['credit_card', 'debt_consolidation']
total_acc_ = 25 # less than this amount
installment_ = 800
issue_month_ = [1,3]
inq_last_6mths_ = 0

In [79]:
df_filtered = df[(df['issue_year']==issue_year_) & 
   (df['grade'].isin(grade_)) & 
   (df['fico']>fico_) & 
   (df['int_rate']>min_int_rate_) & 
   (df['home_ownership']!='RENT') & 
   (df['emp_length']!= emp_length_) &
   (df['annual_inc'] > annual_inc_) &
   (df['earliest_credit_10_more'] == earliest_credit_10_more_) &
   (df['loan_amnt'] < loan_amnt_) &
   (df['term_60']==term_60_) &
   (df['purpose'].isin(purpose_)) &
   (df['total_acc'] < total_acc_) &
   (df['installment'] < installment_) &
   (df['issue_month'].isin(issue_month_)&
   (df['inq_last_6mths']==inq_last_6mths_)
   )
  ].reset_index(drop=True)#.iloc[:,[117,116, 13, 118, 15, 9, 5, 6, 7, 8, 0,3,4, 119, 124, 12, 121, 122, 123, 28, 29, 30, 31, 32, 33]].sort_values(['issue_month', 'int_rate'])
print(df_filtered.groupby('good')['loss_amnt'].count())
loss = round(df_filtered[df_filtered['good']!=True]['loss_amnt'].sum(),-1)
loan = round(df_filtered[df_filtered['good']!=True]['loan_amnt'].sum(),-1)
print('Loss amount :', loss)
print('Loan amount :', loan)
print('Loss / Loan :', round(loss/loan, 3))
# total_pymnt_inv loan_amnt
rec = df_filtered['total_pymnt_inv'].sum()
paid_out = df_filtered['loan_amnt'].sum()
gain = rec - paid_out
print('Total rec   :', round(rec, -1))
print('Total paid  :', round(paid_out, -1))
print('Total gain  :', round(gain, -1))
print('Percent     :', round(gain/paid_out * 100, 1))


df_filtered

good
False     3
True     11
Name: loss_amnt, dtype: int64
Loss amount : 8000.0
Loan amount : 36580.0
Loss / Loan : 0.219
Total rec   : 155780.0
Total paid  : 141280.0
Total gain  : 14500.0
Percent     : 10.3

,id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,addr_state,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,disbursement_method,debt_settlement_flag_date,issue_year,issue_month,fico,term_60,last_pay_d,months_of_pay,loss_amnt,good,earliest_credit_10_more
0,1304984,20000.0,20000.0,20000.0,16.59,708.99,D,D1,9 years,OWN,85000.0,Verified,2014-03-01,Fully Paid,credit_card,NH,25.80,1.0,0.0,4.0,NaN,7.0,0.0,19369.0,82.1,21.0,f,0.0,0.0,25523.187947,25523.19,20000.00,5523.19,0.0,0.00,0.0000,Mar-2017,708.54,Aug-2018,624.0,620.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,54752.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23600.0,NaN,NaN,NaN,3.0,7822.0,806.0,95.9,0.0,0.0,124.0,129.0,11.0,11.0,0,15.0,NaN,15.0,NaN,0.0,2.0,3.0,2.0,11.0,2.0,4.0,17.0,3.0,7.0,0.0,0.0,0.0,1.0,95.2,100.0,0.0,0.0,81346.0,54752.0,19800.0,50177.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2014,3,3,0,2017-03-01,35,0.0,True,1
1,1307326,8325.0,8325.0,8325.0,17.57,299.18,D,D2,4 years,OWN,82000.0,Source Verified,2014-03-01,Fully Paid,debt_consolidation,FL,15.34,0.0,0.0,NaN,NaN,9.0,0.0,6669.0,46.0,12.0,f,0.0,0.0,10621.110000,10621.11,8325.00,2296.11,0.0,0.00,0.0000,Aug-2016,2543.25,Jan-2019,709.0,705.0,1.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,1291.0,40462.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15400.0,NaN,NaN,NaN,6.0,4496.0,7505.0,49.2,0.0,0.0,177.0,71.0,8.0,8.0,0,8.0,NaN,8.0,NaN,0.0,3.0,4.0,6.0,8.0,3.0,7.0,9.0,4.0,9.0,0.0,0.0,0.0,5.0,100.0,16.7,0.0,0.0,61175.0,40462.0,13900.0,45775.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2014,3,2,0,2016-08-01,28,0.0,True,1
2,1307562,9600.0,9600.0,9600.0,17.57,345.00,D,D2,4 years,MORTGAGE,72000.0,Source Verified,2014-03-01,Fully Paid,credit_card,FL,5.92,0.0,0.0,NaN,NaN,6.0,0.0,9612.0,82.9,14.0,f,0.0,0.0,10466.670001,10466.67,9600.00,866.67,0.0,0.00,0.0000,Oct-2014,8741.67,Oct-2015,634.0,630.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,220125.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11600.0,NaN,NaN,NaN,5.0,36688.0,1911.0,77.0,0.0,0.0,NaN,168.0,3.0,3.0,1,3.0,NaN,10.0,NaN,0.0,4.0,5.0,4.0,5.0,0.0,5.0,7.0,5.0,6.0,0.0,0.0,0.0,2.0,100.0,50.0,0.0,0.0,227400.0,9612.0,8300.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2014,3,2,0,2014-10-01,6,0.0,True,1
3,1308824,5875.0,5875.0,5875.0,18.92,215.12,D,D4,8 years,MORTGAGE,90000.0,Source Verified,2014-03-01,Fully Paid,debt_consolidation,TX,14.08,1.0,0.0,20.0,NaN,9.0,0.0,4501.0,91.9,22.0,w,0.0,0.0,6147.070000,6147.07,5875.00,272.07,0.0,0.00,0.0000,Jun-2014,5716.83,Sep-2018,604.0,600.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,220.0,214591.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4900.0,NaN,NaN,NaN,4.0,26824.0,4.0,99.9,0.0,0.0,169.0,212.0,52.0,4.0,1,52.0,33.0,7.0,33.0,0.0,3.0,4.0,3.0,6.0,11.0,4.0,8.0,4.0,9.0,0.0,0.0,0.0,2.0,81.8,100.0,0.0,0.0,254278.0,36500.0,3500.0,39106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2014,3,3,0,2014-06-01,2,0.0,True,1
4,1315567,7325.0,7325.0,7325.0,19.47,270.25,D,D5,2 years,MORTGAGE,96000.0,Source Verified,2014-03-01,Fully Paid,debt_consolidation,TX,8.51,2.0,0.0,17.0,110.0,14.0,1.0,5892.0,66.2,23.0,f,0.0,0.0,9051.460001,9051.46,7325.00,1726.46,0.0,0.00,0.0000,Aug-2015,4727.46,Mar-2019,664.0,660.0,0.0,74.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,14811.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8900.0,NaN,NaN,NaN,8.0,1058.0,1560.0,75.2,0.0,0.0,30.0,160.0,2.0,2.0,0,20.0,17.0,7.0,17.0,1.0,7.0,10.0,7.0,11.0,5.0,12.0,18.0,10.0,14.0,0.0,0.0,0.0,4.0,78.3,57.1,1.0,0.0,18211.0,14811.0,6300.0,9311.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2014,3,2,0,2015-08-01,16,0.0,True,1
5,1315586,6700.0,6700.0,6700.0,17.57,240.78,D,D2,NaN,OWN,74400.0,Verified,2014-03-01,Fully Paid,debt_consolidation,TX,6.90,0.0,0.0,73.0,NaN,6.0,0.0,2935.0,91.7,9.0,w,0.0,0.0,8750.515726,8750.52,6700.00,2050.52,0.0,0.00,0.0000,May-2017,54.69,Apr-2017,609.0,605.0,0.0,73.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,14024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3200.0,NaN,NaN,NaN,5.0,2805.0,265.0,91.7,0.0,0.0,128.0,273.0,20.0,10.0,0,20.0,73.0,10.0,73.0,1.0,4.0,4.0,5.0,7.0,2.0,5.0,7.0,4.0,6.0,0.0,0.0,0.0,1.0,87.5,100.0,0.0,0.0,16183.0,14024.0,3200.0,12983.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2014,3,2,0,2017-05-01,37,0.0,True,1
6,1319096,14000.0,14000.0,14000.0,18.92,512.62,D,D4,NaN,MORTGAGE,86000.0,Verified,2014-03-01,Fully Paid,debt_consolidation,IL,14.50,0.0,0.0,74.0,NaN,11.0,0.0,36421.0,79.2,24.0,w,0.0,0.0,18452.376818,18452.38,14000.00,4452.38,0.0,0.00,0.0000,Feb-2017,1023.30,Sep-2017,704.0,700.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,90501.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46000.0,NaN,NaN,NaN,5.0,8227.0,1077.0,94.1,0.0,0.0,93.0,178.0,11.0,2.0,1,11.0,74.0,8.0,74.0,0.0,3.0,8.0,3.0,6.0,4.0,9.0,18.0,8.0,11.0,0.0,0.0,0.0,2.0,95.7,100.0,0.0,0.0,111423.0,39894.0,18200.0,3673.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2014,3,3,0,2017-02-01,34,0.0,True,1
7,1320288,14000.0,14000.0,14000.0,16.59,496.29,D,D1,< 1 year,MORTGAGE,210000.0,Source Verified,2014-03-01,Fully Paid,debt_consolidation,TX,6.71,0.0,0.0,NaN,NaN,6.0,0.0,6994.0,86.3,11.0,f,0.0,0.0,17866.262305,17866.26,14000.00,3866.26,0.0,0.00,0.0000,Mar-2017,496.11,Mar-2019,684.0,680.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,180009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8100.0,NaN,NaN,NaN,8.0,30002.0,21.0,99.6,0.0,0.0,29.0,159.0,1.0,1.0,1,15.0,NaN,11.0,NaN,0.0,1.0,2.0,1.0,4.0,2.0,4.0,8.0,2.0,6.0,0.0,0.0,0.0,4.0,100.0,100.0,0.0,0.0,199950.0,48285.0,6000.0,56000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2014,3,3,0,2017-03-01,35,0.0,True,1
8,1320350,8000.0,8000.0,8000.0,17.57,287.50,D,D2,3 years,MORTGAGE,165000.0,Source Verified,2014-03-01,Charged Off,debt_consolidation,RI,8.90,5.0,0.0,16.0,NaN,7.0,0.0,3634.0,93.2,12.0,f,0.0,0.0,5751.930000,5751.93,3252.44,1735.06,30.0,734.43,132.1974,Jan-2016,100.00,Oct-2016,574.0,570.0,0.0,63.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,34363.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3900.0,NaN,NaN,NaN,0.0,5727.0,189.0,94.7,0.0,0.0,52.0,221.0,34.0,32.0,0,34.0,16.0,11.0,16.0,1.0,3.0,4.0,3.0,5.0,4.0,5.0,7.0,4.0,7.0,0.0,0.0,0.0,0.0,41.7,66.7,0.0,0.0,52782.0,34363.0,3600.0,48882.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2014,3,2,0,2016-01-01,21,1617.0,False,1
9,1321155,5400.0,5400.0,5400.0,21.99,206.21,E,E4,1 year,MORTGAGE,79600.0,Verified,2014-03-01,Fully Paid,debt_consolidation,GA,27.79,0.0,0.0,34.0,NaN,12.0,0.0,43818.0,93.0,19.0,w,0.0,0.0,5963.517972,5963.52,5400.00,563.52,0.0,0.00,0.0000,Sep-2014,4932.47,Jul-2018,689.0,685.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,200476.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47100.0,NaN,NaN,NaN,6.0,18225.0,0.0,100.0,0.0,0.0,110.0,259.0,17.0,5.0,1,57.0,34.0,13.0,34.0,0.0,3.0,6.0,4.0,6.0,4.0,8.0,12.0,6.0,12.0,0.0,0.0,0.0,2.0,89.5,100.0,0.0,0.0,216883.0,75427.0,27100.0,38489.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2014,3,2,0,2014-09-01,5,0.0,True,1
10,1336958,7575.0,7575.0,7575.0,17.57,272.23,D,D2,1 year,MORTGAGE,75000.0,Source Verified,2014-01-01,Fully Paid,debt_consolidation,MI,21.63,1.0,0.0,6.0,104.0,9.0,1.0,6005.0,75.0,14.0,f,0.0,0.0,9367.820000,9367.82,7575.00,1792.82,0.0,0.00,0.0000,Nov-2015,3923.22,Mar-2019,724.0,720.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,10944.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7980.0,NaN,NaN,NaN,5.0,1368.0,1000.0,99.0,0.0,0.0,172.0,208.0,0.0,0.0,1,26.0,NaN,NaN,NaN,0.0,1.0,6.0,1.0,1.0,2.0,6.0,8.0,5.0,8.0,NaN,0.0,0.0,2.0,93.0,100.0,1.0,0.0,23140.0,10944.0,1000.0,14151.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2014,1,3,0,2015-11-01,20,0.0,True,1
11,1337938,5900.0,5900.0,5900.0,17.57,212.03,D,D2,2 years,MORTGAGE,100000.0,Source Verified,2014-01-01,Fully Paid,debt_consolidation,WA,2.34,0.0,0.0,NaN,53.0,5.0,1.0,4289.0,62.2,9.0,f,0.0,0.0,7140.010000,7140.01,5900.00,1240.01,0.0,0.00,0.0000,Jul-2015,3747.53,Mar-2019,619.0,615.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,4289.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6900.0,NaN,NaN,NaN,5.0,858.0,2611.0,62.2,0.0,0.0,291.0,20.0,10.0,10.0,0,10.0,NaN,8.0,NaN,0.0,5.0,5.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,0.0,0.0,0.0,3.0,100.0,20.0,1.0,0.0,6900.0,4289.0,6900.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2014,1,3,0,2015-07-01,16,0.0,True,1
12,1343040,18075.0,18075.0,18075.0,16.99,644.34,D,D1,< 1 year,MORTGAGE,74000.0,Source Verified,2014-01-01,Charged Off,debt_consolidation,TX,17.09,0.0,0.0,52.0,117.0,9.0,1.0,4906.0,76.7,20.0,f,0.0,0.0,13439.940000,13439.94,7899.94,3697.79,0.0,1842.21,331.5276,Jul-2015,644.34,Jan-2015,679.0,675.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,155366.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6400.0,NaN,NaN,NaN,5.0,19421.0,0.0,100.1,0.0,0.0,100.0,111.0,18.0,7.0,1,57.0,NaN,15.0,NaN,0.0,1.0,3.0,2.0,8.0,7.0,5.0,11.0,3.0,9.0,0.0,0.0,0.0,2.0,94.7,100.0,1.0,0.0,172824.0,24250.0,3000.0,30179.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2014,1,3,0,2015-07-01,16,3125.0,False,1
13,1344183,10500.0,10500.0,10500.0,18.25,380.92,D,D3,1 year,MORTGAGE,70800.0,Verified,2014-01-01,Charged Off,debt_consolidation,LA,27.63,0.0,0.0,75.0,NaN,7.0,0.0,4791.0,104.2,20.0,f,0.0,0.0,7237.480000,7237.48,4831.36,2405.87,0.0,0.25,0.0000,Aug-2015,380.92,Feb-2017,604.0,600.0,0.0,75.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,270907.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4600.0,NaN,NaN,NaN,7.0,38701.0,0.0,104.2,0.0,0.0,259.0,183.0,137.0,6.0,1,137.0,NaN,14.0,NaN,1.0,2.0,2.0,2.0,3.0,12.0,2.0,4.0,2.0,7.0,0.0,0.0,0.0,3.0,80.0,100.0,0.0,0.0,282895.0,104776.0,4600.0,108042.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,2014,1,2,0,2015-08-01,17,3263.0,False,1

In [82]:
fields_ = ['loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'issue_d',
'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
  'months_of_pay',
          'good',
          'term_60']
set(fields_) - set(df.columns)

set()

In [83]:
df_ = df[df['id'] ==1304984]
df_[fields_]

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,grade,sub_grade,issue_d,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,months_of_pay,good,term_60
1304970,20000.0,20000.0,20000.0,16.59,708.99,D,D1,2014-03-01,0.0,0.0,25523.187947,25523.19,20000.0,5523.19,0.0,0.0,0.0,Mar-2017,708.54,35,True,0

In [84]:
invested = 1000
funds_out = df_['funded_amnt_inv'] + df_['collection_recovery_fee']
funds_in = df_['total_rec_prncp'] + df_['total_rec_late_fee'] + df_['total_rec_int'] + df_['recoveries']
profit = (funds_in - funds_out)/funds_out/(df_['months_of_pay']-1)*12
print('Funds Rec: ', funds_in)
print('Paid Out : ',funds_out)
print('Profit   : ', funds_in - funds_out)
print('Profit % : ', profit)

Funds Rec:  1304970    25523.19
dtype: float64
Paid Out :  1304970    20000.0
dtype: float64
Profit   :  1304970    5523.19
dtype: float64
Profit % :  1304970    0.097468
dtype: float64

In [85]:
R = 1 + (df_['int_rate'])/(12*100)
print(R)

1304970    1.013825
Name: int_rate, dtype: float64

In [86]:
def loan_calc(inv, df_):
    '''inv = investement amount 
    df_ is the dataframe
    this function calculates monthly payments and amount returned based on a loan and amount invested
    '''
    rec_back = 0
    I_ = []
    P_ = []
    inv_ = []
    LAST_PAYMENT = round(df_['last_pymnt_amnt'] * (inv/df_['funded_amnt_inv']), 2)
    TERM = 36 if df_['term_60']==0 else 60
    END_MNTH = min([TERM, df_['months_of_pay']+1])
    R = 1 + (df_['int_rate'])/(12*100)              # calc monthly rate
    X = inv * (R**TERM)*(1-R)/(1-R**TERM)           # calc monthly payment
    I_.append(0)
    P_.append(0)
    inv_.append(inv)
    for n_ in range(1,END_MNTH + 1):                 # goes through months, skips first month (first payment is the following month)
        I = round(inv * (R-1), 2)            # interest calculation
        if n_ == END_MNTH:                           # if last month (last month is lessor of term or months Pay field)
            X = LAST_PAYMENT                        # if last payment, get last payment from dataframe
            I = round((df_['out_prncp'] - (inv - X)), 2)
        inv = round(inv - (X-I),2)           # current invested amount is previous invested minus (Payment - interest)    
        print((X - I, I))
        I_.append(I)
        P_.append(X - I)
        inv_.append(inv)
    return (P_, I_, inv_)

In [87]:
df_x = df_ = df.loc[10131, fields_]
invested = 500
rec_back = 0
P, I, inv = loan_calc(invested, df_x)

(12.265981388518334, 3.49)
(12.345981388518334, 3.41)
(12.435981388518334, 3.32)
(12.525981388518334, 3.23)
(12.605981388518334, 3.15)
(12.695981388518334, 3.06)
(12.785981388518334, 2.97)
(12.875981388518333, 2.88)
(12.965981388518333, 2.79)
(13.055981388518333, 2.7)
(13.145981388518335, 2.61)
(13.235981388518335, 2.52)
(13.335981388518334, 2.42)
(13.425981388518334, 2.33)
(13.515981388518334, 2.24)
(13.615981388518334, 2.14)
(13.705981388518335, 2.05)
(13.805981388518335, 1.95)
(13.905981388518335, 1.85)
(13.995981388518334, 1.76)
(14.095981388518334, 1.66)
(14.195981388518334, 1.56)
(14.295981388518335, 1.46)
(14.395981388518335, 1.36)
(14.495981388518334, 1.26)
(14.595981388518334, 1.16)
(14.695981388518334, 1.06)
(14.795981388518335, 0.96)
(14.905981388518335, 0.85)
(15.005981388518334, 0.75)
(15.115981388518334, 0.64)
(15.215981388518333, 0.54)
(15.325981388518334, 0.43)
(15.435981388518334, 0.32)
(31.04, -5.26)

In [88]:
df_ = df.loc[10131, fields_]

invested = 500
rec_back = 0
P, I, inv = loan_calc(invested, df_)

(12.265981388518334, 3.49)
(12.345981388518334, 3.41)
(12.435981388518334, 3.32)
(12.525981388518334, 3.23)
(12.605981388518334, 3.15)
(12.695981388518334, 3.06)
(12.785981388518334, 2.97)
(12.875981388518333, 2.88)
(12.965981388518333, 2.79)
(13.055981388518333, 2.7)
(13.145981388518335, 2.61)
(13.235981388518335, 2.52)
(13.335981388518334, 2.42)
(13.425981388518334, 2.33)
(13.515981388518334, 2.24)
(13.615981388518334, 2.14)
(13.705981388518335, 2.05)
(13.805981388518335, 1.95)
(13.905981388518335, 1.85)
(13.995981388518334, 1.76)
(14.095981388518334, 1.66)
(14.195981388518334, 1.56)
(14.295981388518335, 1.46)
(14.395981388518335, 1.36)
(14.495981388518334, 1.26)
(14.595981388518334, 1.16)
(14.695981388518334, 1.06)
(14.795981388518335, 0.96)
(14.905981388518335, 0.85)
(15.005981388518334, 0.75)
(15.115981388518334, 0.64)
(15.215981388518333, 0.54)
(15.325981388518334, 0.43)
(15.435981388518334, 0.32)
(31.04, -5.26)

In [89]:
print(sum(P), sum(I))

499.86336720962333 61.62000000000001

In [46]:
z = df_investment[['P', 'I']]
z['P'] + z['I']

Series([], dtype: object)

In [47]:
df_cash = pd.DataFrame(columns=['Date', 'Cash', 'Invested'])

df_cash['Date'] = pd.Series(pd.period_range('1/1/2007', freq='m', periods=(12*10)))

df_cash

        Date Cash Invested
0    2007-01  NaN      NaN
1    2007-02  NaN      NaN
2    2007-03  NaN      NaN
3    2007-04  NaN      NaN
4    2007-05  NaN      NaN
..       ...  ...      ...
115  2016-08  NaN      NaN
116  2016-09  NaN      NaN
117  2016-10  NaN      NaN
118  2016-11  NaN      NaN
119  2016-12  NaN      NaN

[120 rows x 3 columns]

In [48]:
df_investment = pd.DataFrame(columns=['Date', 'P', 'I', 'cash', 'invested'])
df_investment['P'] = P
df_investment['I'] = I
df_investment['invested'] = inv
df_investment['Date'] = [parse(df_['issue_d']) + DateOffset(months=i) for i in range(0, df_investment['P'].shape[0])]
df_investment['cash'] = df_investment['P'] + df_investment['I']
#df_investment['invested'] = 

df_investment

         Date          P     I       cash  invested
0  2015-12-01   0.000000  0.00   0.000000    500.00
1  2016-01-01  12.265981  3.49  15.755981    487.73
2  2016-02-01  12.345981  3.41  15.755981    475.38
3  2016-03-01  12.435981  3.32  15.755981    462.94
4  2016-04-01  12.525981  3.23  15.755981    450.41
5  2016-05-01  12.605981  3.15  15.755981    437.80
6  2016-06-01  12.695981  3.06  15.755981    425.10
7  2016-07-01  12.785981  2.97  15.755981    412.31
8  2016-08-01  12.875981  2.88  15.755981    399.43
9  2016-09-01  12.965981  2.79  15.755981    386.46
10 2016-10-01  13.055981  2.70  15.755981    373.40
11 2016-11-01  13.145981  2.61  15.755981    360.25
12 2016-12-01  13.235981  2.52  15.755981    347.01
13 2017-01-01  13.335981  2.42  15.755981    333.67
14 2017-02-01  13.425981  2.33  15.755981    320.24
15 2017-03-01  13.515981  2.24  15.755981    306.72
16 2017-04-01  13.615981  2.14  15.755981    293.10
17 2017-05-01  13.705981  2.05  15.755981    279.39
18 2017-06-01  13.805981  1.95  15.755981    265.58
19 2017-07-01  13.905981  1.85  15.755981    251.67
20 2017-08-01  13.995981  1.76  15.755981    237.67
21 2017-09-01  14.095981  1.66  15.755981    223.57
22 2017-10-01  14.195981  1.56  15.755981    209.37
23 2017-11-01  14.295981  1.46  15.755981    195.07
24 2017-12-01  14.395981  1.36  15.755981    180.67
25 2018-01-01  14.495981  1.26  15.755981    166.17
26 2018-02-01  14.595981  1.16  15.755981    151.57
27 2018-03-01  14.695981  1.06  15.755981    136.87
28 2018-04-01  14.795981  0.96  15.755981    122.07
29 2018-05-01  14.905981  0.85  15.755981    107.16
30 2018-06-01  15.005981  0.75  15.755981     92.15
31 2018-07-01  15.115981  0.64  15.755981     77.03
32 2018-08-01  15.215981  0.54  15.755981     61.81
33 2018-09-01  15.325981  0.43  15.755981     46.48
34 2018-10-01  15.435981  0.32  15.755981     31.04
35 2018-11-01  31.040000 -5.26  25.780000      0.00

In [58]:
df.loc[10131,fields_]

loan_amnt                       12500
funded_amnt                     12500
funded_amnt_inv                 12500
int_rate                         8.38
installment                     393.9
grade                               B
sub_grade                          B1
issue_d                    2015-12-01
out_prncp                           0
out_prncp_inv                       0
total_pymnt                   14114.5
total_pymnt_inv               14114.5
total_rec_prncp                 12500
total_rec_int                 1614.47
total_rec_late_fee                  0
recoveries                          0
collection_recovery_fee             0
last_pymnt_d                 Nov-2018
last_pymnt_amnt                644.54
months_of_pay                      34
good                             True
term_60                             0
Name: 10131, dtype: object

In [24]:
for i,v in enumerate(df.columns):
    print(i,"'"+v+"'")

0 'Unnamed: 0'
1 'loan_amnt'
2 'funded_amnt'
3 'funded_amnt_inv'
4 'int_rate'
5 'installment'
6 'grade'
7 'sub_grade'
8 'emp_length'
9 'home_ownership'
10 'annual_inc'
11 'verification_status'
12 'issue_d'
13 'loan_status'
14 'purpose'
15 'addr_state'
16 'dti'
17 'delinq_2yrs'
18 'inq_last_6mths'
19 'mths_since_last_delinq'
20 'mths_since_last_record'
21 'open_acc'
22 'pub_rec'
23 'revol_bal'
24 'revol_util'
25 'total_acc'
26 'initial_list_status'
27 'out_prncp'
28 'out_prncp_inv'
29 'total_pymnt'
30 'total_pymnt_inv'
31 'total_rec_prncp'
32 'total_rec_int'
33 'total_rec_late_fee'
34 'recoveries'
35 'collection_recovery_fee'
36 'last_pymnt_d'
37 'last_pymnt_amnt'
38 'last_credit_pull_d'
39 'last_fico_range_high'
40 'last_fico_range_low'
41 'collections_12_mths_ex_med'
42 'mths_since_last_major_derog'
43 'policy_code'
44 'application_type'
45 'annual_inc_joint'
46 'dti_joint'
47 'verification_status_joint'
48 'acc_now_delinq'
49 'tot_coll_amt'
50 'tot_cur_bal'
51 'open_acc_6m'
52 'open_act_il'
53 'open_il_12m'
54 'open_il_24m'
55 'mths_since_rcnt_il'
56 'total_bal_il'
57 'il_util'
58 'open_rv_12m'
59 'open_rv_24m'
60 'max_bal_bc'
61 'all_util'
62 'total_rev_hi_lim'
63 'inq_fi'
64 'total_cu_tl'
65 'inq_last_12m'
66 'acc_open_past_24mths'
67 'avg_cur_bal'
68 'bc_open_to_buy'
69 'bc_util'
70 'chargeoff_within_12_mths'
71 'delinq_amnt'
72 'mo_sin_old_il_acct'
73 'mo_sin_old_rev_tl_op'
74 'mo_sin_rcnt_rev_tl_op'
75 'mo_sin_rcnt_tl'
76 'mort_acc'
77 'mths_since_recent_bc'
78 'mths_since_recent_bc_dlq'
79 'mths_since_recent_inq'
80 'mths_since_recent_revol_delinq'
81 'num_accts_ever_120_pd'
82 'num_actv_bc_tl'
83 'num_actv_rev_tl'
84 'num_bc_sats'
85 'num_bc_tl'
86 'num_il_tl'
87 'num_op_rev_tl'
88 'num_rev_accts'
89 'num_rev_tl_bal_gt_0'
90 'num_sats'
91 'num_tl_120dpd_2m'
92 'num_tl_30dpd'
93 'num_tl_90g_dpd_24m'
94 'num_tl_op_past_12m'
95 'pct_tl_nvr_dlq'
96 'percent_bc_gt_75'
97 'pub_rec_bankruptcies'
98 'tax_liens'
99 'tot_hi_cred_lim'
100 'total_bal_ex_mort'
101 'total_bc_limit'
102 'total_il_high_credit_limit'
103 'revol_bal_joint'
104 'sec_app_fico_range_low'
105 'sec_app_earliest_cr_line'
106 'sec_app_inq_last_6mths'
107 'sec_app_mort_acc'
108 'sec_app_open_acc'
109 'sec_app_revol_util'
110 'sec_app_open_act_il'
111 'sec_app_num_rev_accts'
112 'sec_app_chargeoff_within_12_mths'
113 'sec_app_collections_12_mths_ex_med'
114 'sec_app_mths_since_last_major_derog'
115 'disbursement_method'
116 'debt_settlement_flag_date'
117 'issue_year'
118 'issue_month'
119 'fico'
120 'term_60'
121 'last_pay_d'
122 'months_of_pay'
123 'loss_amnt'
124 'good'
125 'earliest_credit_10_more'